<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <a href="/" class="FloatingA"> ❮❮❮ VISSZA</a>
    <div class="main">
      <h1><%= pageTitle %></h1>
      <div class="container">
<img src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg"
   alt="404 error picture"
   class="Img404"
   />
</div>
<p>Sajnáljuk, az oldal amit keres nem léteik, menjen biztosra, hogy az URL-t helyesen adta meg.</p>
  <a href="/"> ❮❮❮ VISSZA A FŐOLDALRA</a>
</body>
</html>
