<%- include('includes/head') %>
<img src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg"
   alt="404 error picture"
   class="Img404"
   />
</div>
<p>Sajnáljuk, az oldal amit keres nem léteik, menjen biztosra, hogy az URL-t helyesen adta meg.</p>
  <a href="/"> ❮❮❮ VISSZA A FŐOLDALRA</a>
</body>
</html>
