<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/ametisztruhatisztito.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
        <%=content%>
        <p>
          Az országos hálózattal rendelkező cég a textiltisztítási szakma teljes
          vertikumát kínálja üzletében. Egyedüli magyar cégként végzi a
          Miele-Kreussler technológián alapuló nedves tisztítást BIOCLEAN
          márkanév alatt, amely teljesen vegyszermentes eljárást garantál
          elsődlegesen az ÖKO-TEX textíliák részére. <br />
        </p>
      </div>
      <h2>SZOLGÁLTATÁSOK</h2>
      <ul>
        <li>ruha tisztítás</li>
      </ul>
      <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
<%- include('includes/end') %>
