<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %>!</h1>
Az országos hálózattal rendelkező cég a textiltisztítási szakma teljes vertikumát kínálja üzletében. Egyedüli magyar cégként végzi a Miele-Kreussler technológián alapuló nedves tisztítást BIOCLEAN márkanév alatt, amely teljesen vegyszermentes eljárást garantál elsődlegesen az ÖKO-TEX textíliák részére.
<br>
SZOLGÁLTATÁSOK
<br>
ruha tisztítás<br>
ELFOGADOTT FIZETŐESZKÖZÖK<br>
<br>
Készpénz (Forint)<br>
Bankkártya<br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
