<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="main">
      <h1><%= pageTitle %></h1>
      <div class="container">
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/ametisztruhatisztito.jpg"
          alt="<%= pageTitle %>"
          class="ImgS"
        />
        <p>
          Az országos hálózattal rendelkező cég a textiltisztítási szakma teljes
          vertikumát kínálja üzletében. Egyedüli magyar cégként végzi a
          Miele-Kreussler technológián alapuló nedves tisztítást BIOCLEAN
          márkanév alatt, amely teljesen vegyszermentes eljárást garantál
          elsődlegesen az ÖKO-TEX textíliák részére. <br />
        </p>
      </div>
      <h2>SZOLGÁLTATÁSOK</h2>
      <ul>
        <li>ruha tisztítás</li>
      </ul>
      <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
      </ul>
      <a href="/"> ❮❮❮ VISSZA A FŐOLDALRA</a>
    </div>
  </body>
</html>
