<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="main">
    <h1><%= pageTitle %></h1>
    <div class="container">
      <img src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/amnesia.jpg" alt="<%= pageTitle %>" class="ImgS" />
      <p>
        Az Amnesia divat márka új kollekcióit hozza el számodra. Divatos ruházat
        és kiegészítők minden alkalomra.
        <br />
      </p>
    </div>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>divat ruházat</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
    </ul>
    <a href="/"> ❮❮❮ VISSZA A FŐOLDALRA</a>
  </div>
</div>
  </body>
</html>
