<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/apacs.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
        <p><strong>A LEGNAGYOBB EZÜST ÉKSZER ÉS PIERCING KÍNÁLAT ITTHON.</strong><br/><br/>
          Magyarország 7 városában (Budapesten, Győrött, Pécsett, Szegeden, Székesfehérváron, Nyíregyházán, Kecskeméten) több, mint 100 000-féle ékszert kínálunk.
           A világ 13 országából közel 600 ötvös és iparművész design ékszerei találhatók meg ékszerboltjainkban, így az egyik legnagyobb hazai ékszerválasztékot nyújtjuk:
            nyakláncok, karláncok, karperecek, medálok, gyűrűk, fülbevalók, piercingek és más arany és ezüst ékszerek széles kínálata.
          <br/><br/>
          Designereink odafigyelnek arra, hogy ékszereink a legkülönbözőbb korosztályok számára is megfelelő vonzerőt képviseljenek. Ékszerüzleteink árukészlete folyamatosan változik, ezért a fotókon látható ékszerek csupán egy aktuális hangulatot tükröznek, nem feltétlenül a jelenlegi kínálatot reprezentálják.</p>
      </div>
      <h2>TERMÉKEK</h2>
      <ul>
        <li>ezüst ékszerek</li>
        <li>bizsu ékszerek</li>
        <li>bőrszál</li>
        <li>ezüst ékszeralkatrész</li>
        <li>fültágítók</li>
        <li>orvosi fém ékszer</li>
        <li>piercing alkatrész</li>
        <li>textil táska</li>
        <li>orvosi fém testékszer</li>
        <li>ékszer tisztítószerek</li>
      </ul>
      <h2>SZOLGÁLTATÁSOK</h2>
      <ul>
        <li>ékszertisztítás</li>
        <li>kőpótlás ékszerekbe</li>
      </ul>
      <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
        <li> Saját utalvány/ajándékkártya</li>
       <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
