<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/balance.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      Üzletünkben korosztálytól függetlenül mindenki megtalálhatja a hozzá
      legjobban illő fazont, a sportostól az elegánsig. Nagy választékban
      tartunk ingeket és öltönyöket több fajta méretállásban.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>ing</li>
      <li>öltöny</li>
      <li>nyakkendő</li>
      <li>öv</li>
      <li>zokni</li>
      <li>sportzakó</li>
      <li>esküvői öltöny</li>
      <li>esküvői mellény</li>
      <li>dzseki</li>
      <li>kabát</li>
      <li>póló</li>
      <li>pulóver</li>
      <li>farmernadrág</li>
      <li>táska</li>
      <li>pénztárca</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Balance</li>
      <li>Blend</li>
      <li>Matties</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Készpénz (Euro)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
