<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/barbershopbudapest.png"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>Professzionális férfi fodrászat Szeged szívében.</p>
  </div>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>hajvágás</li>
      <li>borotválkozás</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
<%- include('includes/end') %>
