<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %>!</h1>
  Gyógyszertár és egészségügyi termékek.
  <br>
  SZOLGÁLTATÁSOK
  <br>
  gyógyszerek<br>
  ELFOGADOTT FIZETŐESZKÖZÖK<br>
  <br>
  Készpénz (Forint)<br>
  Bankkártya<br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
