<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/bijoubrigitte.png"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
</div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>divatékszerek</li>
      <li>órák</li>
      <li>táskák</li>
      <li>pénztárcák</li>
      <li>sálak</li>
      <li>hajékszerek</li>
      <li>féldrágakövek</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Bijou Brigitte</li>
      <li>Senso Di Donna</li>
      <li>925 Silver</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>fülbelövés</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
