<%- include('includes/head') %>
    <img 
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/biotechusa_2024.jpg" 
      alt="<%= pageTitle %> logója" 
      class="ImgS"
    />
    <p>
      Professzionális táplálék-kiegészítő szaküzlet az egészséges életmód
      támogatásáért. Üzletünkben a havi akciók mellett számos kedvezménnyel és
      profi szaktanácsadással várjuk kedves vásárlóinkat. Igényeljen
      törzsvásárlói kártyát és vásároljon olcsóbban! Az ÁRKÁD Szeged BioTechUSA
      csapata maximális szakképzettséggel és tárgyi tudással rendelkezik,
      melyben mind az izmosodni és mind a fogyni vágyó személyeknek megfelelő
      segítséget tudnak nyújtani! A BioTech USA kiegészítőit több, mint 11
      termékcsaládra bonthatjuk, ezáltal méltán állíthatjuk, hogy a BioTech USA
      a táplálék-kiegészítők teljes palettáját kiváló minőségben gyártja és
      forgalmazza
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>ásványi anyagok</li>
      <li>aminosavak</li>
      <li>étkezés helyettesítő</li>
      <li>fehérjék</li>
      <li>ízületvédők</li>
      <li>kreatinok</li>
      <li>energizálók</li>
      <li>L-Carnitinek</li>
      <li>tesztoszteron fokozók</li>
      <li>regenerálók</li>
      <li>sportfelszerelések</li>
      <li>sportitalok</li>
      <li>teljesítmény-fokozók</li>
      <li>tömegnövelők</li>
      <li>vitaminok</li>
      <li>zsírégetők</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>BioTechUSA</li>
      <li>Brutal Nutrition</li>
      <li>Endurance Line</li>
      <li>Pink Fit</li>
      <li>For Her</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>tanácsadás</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
