<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/bonanzajeans.jpg"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      Üdvözöljük a Bonanza üzletében! Hatalmas választékkal találkozhatnak
      üzletünkben a vásárlók immár 30 éves tapasztalattal. Legyen az férfi vagy
      női. A hétköznapi viselettől egészen a különleges alkalmakra való
      megjelenést mi biztosítjuk. <br /><br />
      Férfi ruházat Bonanza és D'ROYCE márkával ellátott.
      <br /><br />
      A Bonanza üzlete magyarországi gyártást biztosít!
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>alkalmi kiegészítők</li>
      <li>alkalmi ruhák</li>
      <li>kosztümök</li>
      <li>blézerek</li>
      <li>elegáns nadrágok</li>
      <li>farmerek</li>
      <li>nadrágok</li>
      <li>ingek</li>
      <li>mellények</li>
      <li>női ruhák</li>
      <li>női táskák</li>
      <li>öltönyök</li>
      <li>sportos ingek</li>
      <li>vőlegény szettek</li>
      <li>férfi öltönyök</li>
      <li>komplett esküvői öltönyök</li>
      <li>zakók</li>
      <li>sport zakók</li>
      <li>női és férfi kabátok</li>
    </ul>
    <h2>KÜLÖNLEGESSÉGEINK</h2>
    <ul>
      <li>Bocskai viselet</li>
      <li>Attila öltönyök</li>
      <li>öröm anya, öröm apa ruházat</li>
      <li>újasszony ruhák&nbsp;</li>
      <li>nagy és kis estélyi ruhák&nbsp;</li>
    </ul>
    <h2>KIEGÉSZÍTŐK</h2>
    <ul>
      <li>nyakkendők</li>
      <li>férfi bőrcipők</li>
      <li>övek</li>
      <li>menzdsetták</li>
      <br />
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>egyedi megrendelés</li>
      <li>szabóság</li>
      <li>törzsvásárlói programon</li>
      <li>varrás-javítás</li>
      <li>átalakítás</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>egyedi megrendelés</li>
      <li>szabóság</li>
      <li>törzsvásárlói programon</li>
      <li>varrás-javítás</li>
      <li>átalakítás</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
<%- include('includes/end') %>