<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/budmilstore.png"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      A budmil ruházati márka nagy hangsúlyt fektet kínálatában a divatos és
      kényelmes fashion (utcai) modellekre, valamint a sportosan lezser
      viseletekre is! <br /><br />
      Széles termékválasztékkal, szezonról szezonra megújuló ruházati és lábbeli
      kollekcióval, valamint divatos kiegészítőkkel várjuk vásárlóinkat! A
      különböző öltözetekhez mindenki megtalálhatja a színben és fazonban
      megfelelő táskát is a budmil hatalmas kínálatából!
      <br /><br />
      Érdemes benézni a budmil Store-ba!
      <br /><br />
    </p>
  </div>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
