<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/Buzz.png"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      A BUZZ egy multibrand modern sneaker üzlet, ami a világ legnagyobb
      sportmárkáinak – Nike, Adidas, New Balance, Converse, Vans, Asics, Puma,
      stb – gondosan válogatott prémium divattermékeit hozza el elsősorban a
      fiatalabb generáció számára.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>ruházat</li>
      <li>lábbeli</li>
      <li>kiegészítő</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Nike</li>
      <li>Adidas</li>
      <li>New Balance</li>
      <li>Converse</li>
      <li>Vans</li>
      <li>Asics</li>
      <li>Puma</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>készpénz</li>
      <li>bankkártya</li>
<%- include('includes/end') %>