<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/cunda.png"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      A C&A egy neves, gazdag örökséggel rendelkező ruházati kereskedő, ahol az
      egész család számára divatos és megfizethető termékeket kínálunk. A
      minőség és a stílus iránti elkötelezettségünkkel a divatot mindenki
      számára elérhetővé szeretnénk tenni. <br /><br />
      Fedezd fel üzletünket és merülj el a divat világában. A legújabb, kifutó
      ihlette kollekcióktól kezdve a mindennapi alapdarabokig, sokféle
      lehetőséget kínálunk, amelyek megfelelnek a különböző ízléseknek és minden
      életstílushoz alkalmazkodnak. Célunk mindenkit arra inspirálni, hogy jól
      nézzenek ki, jól érezzék magukat és jót tegyenek.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>női ruházat</li>
      <li>férfi ruházat</li>
      <li>gyermekruházat</li>
      <li>kiegészítők</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>C&amp;A</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Készpénz (Euro)</li>
      <li>Készpénz (USD)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>Iskolai Erzsébet-utalvány</li>
      <li>Ajándék Erzsébet-utalvány</li>
      <li>Gyermekvédelmi Erzsébet-utalvány</li>
      <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
      <li>Erzsébet-utalvány Plusz kártya</li>
      <li>Edenred</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
