<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/calzedonia.png"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      A TE HARISNYAÜZLETED Az olasz divattervezők által megálmodott modellek
      népszerűsége évről évre nő. A Calzedonia egyet jelent a minőséggel,
      designnal – legyen szó harisnyáról, zokniról vagy éppen fürdőruháról.
      Termékeinket minden korosztály számára ajánljuk, akik szeretik a vidám,
      fiatalos stílust, vagy akár a visszafogottabb, klasszikus irányzatot. Aki
      a szezon legdivatosabb mintáival, anyagaival és színeivel szeretné
      egyedivé varázsolni a ruhatárát, az mindig talál megfelelő darabot!
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>női termékek</li>
      <li>férfi termékek</li>
      <li>gyermek termékek</li>
      <li>alakformáló termékek</li>
      <li>fürdőruhák</li>
      <li>harisnyák</li>
      <li>leggingsek</li>
      <li>kiegészítők</li>
      <li>strandruhák</li>
      <li>úszók</li>
      <li>zoknik</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Calzedonia</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
