<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %>!</h1>
  A Camel Active egy olyan márka, amely kiváló minőségű kültéri ruházatot és kiegészítőket kínál férfiaknak és nőknek. A tartósságáról és kényelméről ismert Camel Active tökéletes a kalandorok számára.
  <br>
  ELFOGADOTT FIZETŐESZKÖZÖK
  <br>
  Készpénz (Forint)<br>
  Bankkártya<br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
