<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/camelactive.png"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      mel Active egy életmódmárka nők és férfiak számára, amelyet az utazás és a
      távoli országok felfedezése inspirált. Kollekcióiban a kiváló minőségű
      természetes anyagokat funkcionális elemekkel és szövetekkel ötvözi, így
      megfelel mindazok igényeinek, akik szeretnek kalandozni és felfedezni.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>cipő</li>
      <li>dzseki</li>
      <li>farmer</li>
      <li>ing</li>
      <li>női cipő</li>
      <li>női dzseki</li>
      <li>női kiegészítők</li>
      <li>öv</li>
      <li>pénztárca</li>
      <li>sapka</li>
      <li>táska</li>
      <li>zakó</li>
      <li>zokni</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>camel active</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
