<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/_processed_/3/7/csm_ccc_975d57f25c.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      A CCC arra összpontosít, hogy a kedvező árakat a legújabb trendekkel
      kombinálja! A kínálatban a család minden tagja megtalálja a számára
      tökéletes cipőket, divatos táskákat, praktikus hátizsákokat és stílusos
      kiegészítőket. <br /><br />
      Olyan ismert és megbízható márkák várnak mint a Lasocki, a Gino Rossi, a
      Badura, a Jenny Fairy, a DeeZee, a Nine West New York, a Mexx és a Beverly
      Hills Polo Club. A sportosabb stílust kedvelők számára olyan trendi márkák
      elérhetőek az üzletben, mint az adidas, a Reebok, a Puma, a Champion, a
      Vans, a Kappa és a Sprandi. A legkisebbek pedig Disney figurákkal
      díszített cipők és kiegészítők között böngészhetnek szüleikkel. Minden egy
      helyen, csak neked!
      <br /><br />
      A legfrissebb információkat megtalálod a CCC üzletünkben és a
      <a href="https://www.ccc.eu/hu" target="blank">www.ccc.eu/hu</a> oldalon!
      <br /><br />
      Social felületeinken izgalmas tartalmakkal várunk:
      <br /><br />
      Facebook:
      <a href="https://www.facebook.com/CCC.Hungary/" target="_blank"
        >https://www.facebook.com/CCC.Hungary/</a
      ><br />
      Instagram:
      <a href="https://www.instagram.com/cccshoesbags/" target="_blank"
        >https://www.instagram.com/cccshoesbags/</a
      ><br />
      LinkedIn:
      <a href="https://www.linkedin.com/company/cccsa/" target="_blank"
        >https://www.linkedin.com/company/cccsa/</a
      ><br />
      TikTok:
      <a href="https://www.tiktok.com/@cccshoesbags" target="_blank"
        >https://www.tiktok.com/@cccshoesbags</a
      >
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>cipők</li>
      <li>táskák</li>
      <li>cipőápolók</li>
      <li>cipőtisztítók</li>
      <li>cipőkanalak</li>
      <li>bizsu</li>
      <li>sportruházat</li>
      <li>napszemüveg</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Lasocki</li>
      <li>Sprandi</li>
      <li>Gino Lanetti</li>
      <li>Cesare Cave</li>
      <li>Nylon Red</li>
      <li>Vapiano</li>
      <li>Bassano</li>
      <li>Clara Barson</li>
      <li>Jenny Fairy</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Posta Paletta</li>
      <li>Sodexo</li>
      <li>Ticket Service</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
