<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/claires.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      Folyamatos promóciókkal állunk vásárlóink rendelkezésére. Nálunk minden
      korosztály megtalálja a neki szeretni valót.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>ajándék dobozok</li>
      <li>ajándék táskák</li>
      <li>attitüd szemüvegek</li>
      <li>body ékszerek</li>
      <li>gyermek ékszerek</li>
      <li>ékszerek</li>
      <li>ékszertartók</li>
      <li>fejhallgatók</li>
      <li>fülhallgatók</li>
      <li>hajtermékek</li>
      <li>kiegészítők</li>
      <li>kozmetikumok</li>
      <li>kozmetikai termékek</li>
      <li>licensz termékek</li>
      <li>napszemüvegek</li>
      <li>órák</li>
      <li>party ékszerek</li>
      <li>tablet tokok</li>
      <li>táskák</li>
      <li>telefon tokok</li>
      <li>telefon kiegészítők</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Claire’s</li>
      <li>Frozen</li>
      <li>Mignon</li>
      <li>My Little Pony</li>
      <li>Peppa PIG</li>
      <li>TY</li>
      <li>Pusheen</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>fülbelövés</li>
      <li>ingyen frizurakészítés</li>
      <li>bemutató hajkészítő</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Készpénz (Euro)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
<%- include('includes/end') %>