<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %></h1>
  A Claire's tökéletes hely kiegészítők, ékszerek és szépségápolási termékek számára. A fiatal lányok és tinédzserek körében népszerű Claire's szórakoztató és divatos termékeiről ismert.
  <br>
  ELFOGADOTT FIZETŐESZKÖZÖK
  <br>
  Készpénz (Forint)<br>
  Bankkártya<br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
