<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %>!</h1>
  A CROPP egy fiataloknak szóló márka, amely alkalmi és utcai divatot kínál. Az üzlet divatos és stílusos ruházat széles választékát kínálja férfiaknak és nőknek.
  <br>
  ELFOGADOTT FIZETŐESZKÖZÖK
  <br>
  Készpénz (Forint)<br>
  Bankkártya<br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
