<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/cropp.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      A legújabb streetwear trendek, városi hangulat, a legdivatosabb
      inspirációk és rengeteg kreatív energia. A Cropp olyan fiatalok közössége,
      akik a ruháikon keresztül szeretnék kifejezni magukat. A márka olyan, mint
      a vásárlói – merész, mégis 100%-ban autentikus. A Cropp-nál tiéd a
      főszerep: a te stílusod, a te szabályaid!</p>
    </div>
<h2>SOCIAL MEDIA</h2>
    <ul>
      <li>
        <a
          href="https://www.instagram.com/cropp_clothing"
          target="_blank"
          rel="noreferrer"
          aria-label="Instagram"
          >Instagram</a
        >&nbsp;
      </li>
      <li>
        <a
          href="https://www.facebook.com/CroppHU"
          target="_blank"
          rel="noreferrer"
          aria-label="Facebook"
          >Facebook</a
        >&nbsp;
      </li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
<%- include('includes/end') %>