<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/deichmann.jpg"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      A Deichmann piacvezető a német és európai cipő piacon. Nagy választékot
      kínál különböző modellekből és márkákból nőknek, férfiaknak, gyerekeknek
      és a sport területén egyaránt. A stylistjaink folyamatosan az újdonságok
      nyomában vannak. Figyelik a divat világát, a kiállításokon bepillantást
      nyernek a jövőbe, a divat fővárosaiban figyelik az új áramlatokat és
      felfedezik a legmenőbb és legkeresettebb dolgokat. A rövid átfutási idő a
      beszerzési folyamatban, és a kollekció állandó frissítése teszi lehetővé a
      gyors reakciót a divatáramlatokra. Így kerülnek a legkeresettebb modellek
      gyorsan az üzletek polcaira. Lehet szó business-look-ról a brouge típúsú
      cipő a Borellitől, vagy csillogó party pumps-ről a Catwalktól, klasszikus
      csizmáról a 5th Avenue kollekcióból, vagy akár egy helyes gyerekszandálról
      az Elefantentől, nálunk minden alkalomhoz és minden divatigényt kielégítve
      megtalálja a megfelelő cipőt.
    </p>
  </div>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
<%- include('includes/end') %>
