<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/devergoandfriends.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      A cég megalapításától kezdve a márka DNS-e változatlan maradt, melynek
      irányelve nem más, mint egy fiatalos hétköznapi férfi és női ruházati
      vonal kifejlesztése, mely a jelentős termékfejlesztésre, nehéz mosási
      technikákra, erőteljes színezésre és innovatív anyag kombinációkra
      fókuszál minden ruházati termékénél. A Devergo kiváló ár-érték aránynak
      minősülő márka, mely egy tökéletesen megtervezett terméket biztosít,
      azonosítható jellegzetességekkel, kiváló minőséggel mindezt megfizethető
      áron. Minőség által ösztönzött, intenzív termék orientált márka vagyunk,
      teljes körű férfi és női ruházati, cipő és farmer kínálatot biztosítva.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>cipő</li>
      <li>férfi ruházat</li>
      <li>kiegészítő</li>
      <li>női ruházat</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Devergo</li>
      <li>Yellow Cab</li>
      <li>Helly Hansen</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>Iskolai Erzsébet-utalvány</li>
      <li>Ajándék Erzsébet-utalvány</li>
      <li>Gyermekvédelmi Erzsébet-utalvány</li>
      <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
      <li>Erzsébet-utalvány Plusz kártya</li>
      <li>Edenred</li>
      <li>Ticket Compliments Top Premium</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
