<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/diamondoraekszer.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      Cégünk 2001-től otthonosan, szakmai múlttal van jelen a hazai ékszer és
      órapiacon folyamatos fejlődést produkálva, aktív és jelentős szerepet
      játszva. Üzleteink komplex óra-ékszer üzlet, ami mind megjelenésében, mind
      minőségében magas színvonalú. Követve a mai kornak megfelelő elegáns
      egyben modern stílusvilágot. Hatalmas, több ezer darabos, rendszeresen
      frissülő raktárkészlettel várjuk visszajáró és új ügyfeleinket szegedi,
      budapesti és székesfehérvári üzleteinkbe is, illetve weboldalunkon ahol
      kényelmesen, kockázat nélkül, valós raktárkészletről vásárolhat a nap 24
      órájában, akár ingyenes másnapi kiszállítással. A rendkívül széles
      árukészlet összeállításában az órák és ékszerek egyformán fontos szerepet
      kapnak. Arany és ezüst ékszereink kínálatának összeválogatása saját magunk
      által, nagy odafigyeléssel végezzük mindig az aktuális trend és
      divatirányzatot figyelembe véve, hogy a kínálatunk lendületes, fiatalos és
      igényes legyen kiegészítve a nem elhanyagolható klasszikus darabokkal.
      Saját tervezésű és készítésű Diamond Collection néven futó arany
      ékszereinket nagy megelégedéssel vásárolják, hordják vevőink. Óramárkáink
      csak minőségi, hivatalos forrásból beszerzett garanciális háttérrel
      rendelkező termékek. Repertoárunkban megtalálható a magas színvonalú
      egyenes, konzervatív vonalakat képviselő svájci- japán, vagy a divatot, a
      legfrissebb trendet követő, mégis kitűnő ár-értékarányt képviselő
      divatmárkák is, így szinte minden korosztály megtalálhatja a neki
      megfelelő órát-ékszert cégünknél.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>arany ékszerek</li>
      <li>divatékszerek</li>
      <li>eljegyzési gyűrűk</li>
      <li>ékszerek</li>
      <li>fülbevalók</li>
      <li>karikagyűrűk</li>
      <li>karórák</li>
      <li>medálok</li>
      <li>nyakláncok</li>
      <li>óraforgató dobozok</li>
      <li>óratartó dobozok</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Bering</li>
      <li>Casio</li>
      <li>Citizen</li>
      <li>Doxa</li>
      <li>Festina</li>
      <li>Fossil</li>
      <li>Go-Girl Only</li>
      <li>Lorus</li>
      <li>Pierre Lannier</li>
      <li>Pulsar</li>
      <li>Qudo</li>
      <li>Roamer</li>
      <li>Seiko</li>
      <li>Skagen</li>
      <li>Swiss Military Hanowa</li>
      <li>Thomas Sabo</li>
      <li>Tommy Hilfiger</li>
      <li>Zeppelin</li>
      <li>Thomas Sabo</li>
      <li>Ti Sento</li>
      <li>Majorica</li>
      <li>Moni's</li>
      <li>Skagen</li>
      <li>Fossil</li>
      <li>Coeur De Lion</li>
      <li>Lotus Style</li>
      <li>Qudo</li>
      <li>Rochet</li>
      <li>Rosso Amante</li>
      <li>Save Brave</li>
      <li>Tommy Hilfiger</li>
      <li>Unique Jewels</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>ékszer javítás</li>
      <li>ékszer készítés</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>