<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %>!</h1>
  Kiváló minőségű ékszereket és órákat kínál a legjobb áron. A vásárlók itt megtalálhatják a legújabb trendeket és klasszikus darabokat is.
  <br><br>
  SZOLGÁLTATÁSOK<br>
  ékszer javítás<br>
  óra szerviz<br>
  ELFOGADOTT FIZETŐESZKÖZÖK<br>
  Készpénz (Forint)<br>
  Bankkártya<br><br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
