<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/diamore.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      Cégünk 2001 óta foglalkozik arany-ezüst ékszerek, japán és svájci órák
      forgalmazásával. Közel 40 óra és 20 ékszer márka közül választhat. Rövid
      határidőre karikagyűrű rendelést is felveszünk. Frissülő kedvezményekkel
      és kedves mosollyal várjuk!
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>arany ékszerek</li>
      <li>divatékszerek</li>
      <li>eljegyzési gyűrűk</li>
      <li>ékszerek</li>
      <li>fülbevalók</li>
      <li>karikagyűrűk</li>
      <li>karórák</li>
      <li>medálok</li>
      <li>nyakláncok</li>
      <li>óraforgató dobozok</li>
      <li>óratartó dobozok</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Casio</li>
      <li>DKNY</li>
      <li>Davosa</li>
      <li>Doxa</li>
      <li>Festina</li>
      <li>Fossil</li>
      <li>Gant</li>
      <li>Go-Girl Only</li>
      <li>Junkers</li>
      <li>Lorus</li>
      <li>Michael Kors</li>
      <li>Mockberg</li>
      <li>Pulsar</li>
      <li>Seiko</li>
      <li>Swiss Military by Chrono</li>
      <li>Zeppelin</li>
      <li>Couer De Lion</li>
      <li>Fossil</li>
      <li>Lotus Style</li>
      <li>Mariesy</li>
      <li>Qudo</li>
      <li>Unique Jewels</li>
      <li>Rosso Amante</li>
      <li>Majorica gyöngysorok</li>
      <li>Ti Sento</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>ékszer javítás</li>
      <li>ékszer készítés</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>