<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %>!</h1>
  Az ország egyik legnagyobb ékszerüzlete, amely széles választékkal várja a vásárlókat. Arany, ezüst és drágakő ékszerek, órák és egyedi készítésű darabok egyaránt megtalálhatók.
  <br><br>
  SZOLGÁLTATÁSOK<br>
  ékszer javítás<br>
  egyedi ékszer készítés<br>
  ELFOGADOTT FIZETŐESZKÖZÖK<br>
  Készpénz (Forint)<br>
  Bankkártya<br><br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
