<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/dmdrogeriemarkt_international.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      <strong>ITT VAGYOK ÖNMAGAM, ITT VÁSÁROLOK</strong><br /><br />
      A dm 13 országban van jelen Európában, Magyarországon 1993-ban nyitotta
      meg első üzletét. Az elmúlt évek során a dm dinamikus expanziós
      politikájának köszönhetően immáron 264 üzletes országos hálózattá
      fejlődött. Az üzletlánc jelentős szereplő a drogéria kiskereskedelem
      piacán, polcaikon több mint 13.000 terméket kínálnak a szépségápolás és az
      egészségmegőrzés témakörében – 2018. januárjában elindította az online
      értékesítést. Elköteleződtek többek között a környezetvédelem és az
      egészséges életmód mellett, valamint nagy figyelmet fordítanak arra, hogy
      a munkatársak megteremthessék a munka és a magánélet egészséges
      egyensúlyát.
    </p>
  </div>
    <h2>TOVÁBBI INFORMÁCIÓ:</h2>
    <ul>
      <li>
        <a
          href="http://kartyas-fizetesi-lehetoseg-data.pdf"
          title="kartyas-fizetesi-lehetoseg-data.pdf (dmtech.com)"
          target="_blank"
          rel="noreferrer"
          aria-label="kartyas-fizetesi-lehetoseg-data.pdf (dmtech.com)"
          >kartyas-fizetesi-lehetoseg-data.pdf (dmtech.com)</a
        >
      </li>
    </ul>
    <h2>SOCIALMEDIA</h2>
    <ul>
      <li>
        Facebook:
        <a
          href="http://www.facebook.com/dm.Magyarorszag"
          title="www.facebook.com/dm.Magyarorszag"
          target="_blank"
          rel="noreferrer"
          aria-label="www.facebook.com/dm.Magyarorszag"
          >www.facebook.com/dm.Magyarorszag</a
        >
      </li>
      <li>
        Youtube:
        <a
          href="http://www.youtube.com/dmMagyarorszag"
          title="www.youtube.com/dmMagyarorszag"
          target="_blank"
          rel="noreferrer"
          aria-label="www.youtube.com/dmMagyarorszag"
          >www.youtube.com/dmMagyarorszag</a
        >
      </li>
      <li>
        Instagram:
        <a
          href="http://www.instagram.com/dm_magyarorszag/"
          title="www.instagram.com/dm_magyarorszag/"
          target="_blank"
          rel="noreferrer"
          aria-label="www.instagram.com/dm_magyarorszag/"
          >www.instagram.com/dm_magyarorszag/</a
        >
      </li>
    </ul>
    <h2>TERMÉKKATEGÓRIÁK</h2>
    <ul>
      <li>Állat</li>
      <li>Baba</li>
      <li>Bio élelmiszer</li>
      <li>Dekoráció</li>
      <li>Dekorkozmetikum</li>
      <li>Elektromos készülékek</li>
      <li>Gyógyszer</li>
      <li>Háztartás</li>
      <li>Higiéniai termékek</li>
      <li>Parfüm</li>
      <li>Szemüveg</li>
      <li>Szépségápolás</li>
      <li>Tisztálkodás</li>
      <li>Tisztítószerek</li>
    </ul>
    <h2>SZOLGÁLTATÁSAINK</h2>
    <ul>
      <li>Ajándékcsomagolás</li>
      <li>&nbsp;dm Ajándékkártya</li>
      <li>&nbsp;dmApp</li>
      <li>Fotókidolgozás</li>
      <li>Free WI-FI</li>
      <li>Hulladékkezelés</li>
      <li>NFC fizetés</li>
      <li>Tanácsadás</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>dm Ajándékkártya</li>
      <li>ÁRKÁD SZEGED&nbsp;ajándékutalvány</li>
      <li>Allianz Hungária Egészség- és Önsegélyező Pénztár</li>
      <li>
        Bankkártya (Mastercard, Maestro, Visa, Visa Electron, American Express,
        Edenred)
      </li>
      <li>Edenred</li>
      <li>Izys Önsegélyező Pénztár</li>
      <li>JCB</li>
      <li>Készpénz</li>
      <li>Medicina Egészségpénztár</li>
      <li>MKB Pannónia Egészség- és Önsegélyező Pénztár</li>
      <li>MultiPay Cafeteria</li>
      <li>Opti Ajándékutalvány</li>
      <li>OTP Cafeteria</li>
      <li>OTP Egészségprogram</li>
      <li>Patika Egészségpénztár</li>
      <li>Premium Egészségpénztár</li>
      <li>Tempo Egészségpénztári kártya</li>
      <li>Új Pillér Egészségpénztár</li>
      <li>Union Pay</li>
      <li>Vasutas Egészség- és Önsegélyező Pénztár</li>
      <li>Vit Vitamin Egészségpénztár</li>
<%- include('includes/head') %>
