<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/A-D/dockyard.jpg"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      A Dockyard üzletek a legfőbb lelőhelyei a havas, vizes és szeles sportok
      és a hozzájuk kapcsoló életstílust kedvelő sportos, aktív nők és férfiak
      kedvenc márkáinak. A Columbia választékában megtaláljuk a kényelmes utcai
      és outdoor jellegű ruházatot, sí ruházatot és az utcai- és túracipők
      széles spektrumát. A 60 évvel ezelőtt megjelent Jack O'Neill neve által
      fémjelzett O'Neill márka a vizes és havas sportok ruházatának kiemelkedő
      képviselője, melynek legszélesebb választékát a Dockyard üzletekben lehet
      megtalálni Magyarországon. A Fundango egy életérzés mely a szabadságot és
      a függetlenséget tükrözi, a board sportokban gyökerező márka múltja
      garancia arra, hogy a kollekciók, melyeket mai napig elismert sportolók
      közreműködésével, ötleteivel terveznek, autentikusak maradnak és
      funkcionálisan is tökéletesek. A 130 éves múltra visszatekintő skandináv
      márka a Helly Hansen, a technikai ruházaton túl az érdekes, színes és
      minőségi utcai termékekkel és funkcionális sportruházattal csábítja el a
      vásárlóit. A Desigual női ruhákat az extravagancia, az egyediség és színek
      kavalkádja jellemzi, amely egyéni stílust kölcsönöz a viselőjének. Ezen
      kívül a TBS és a Timberland márkák darabjai is elérhetőek üzletünkben!
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>női ruházat</li>
      <li>férfi ruházat</li>
      <li>cipők</li>
      <li>kiegészítők</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Columbia</li>
      <li>O'Neill</li>
      <li>Fundango</li>
      <li>Helly Hansen</li>
      <li>Timberland</li>
      <li>Barts</li>
      <li>TBS</li>
      <li>Mountain Hardwear</li>
      <li>Prana</li>
      <li>Desigual</li>
      <li>Dockers</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>OTP Cafeteria kártya</li>
      <li>Iskolai Erzsébet-utalvány</li>
      <li>Ajándék Erzsébet-utalvány</li>
      <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
      <li>Erzsébet-utalvány Plusz kártya</li>
      <li>Ticket Compliments Top Premium</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>