<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/dorko.jpg"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      Futás, fitness, foci és tenisz.<br />
      Csúcsminőségű modelljeink között mindent megtalálsz, amire szükséged
      lehet! Technikai ruházat, cipők és kiegészítők széles választéka vár.
      Olyan világmárkák termékei közül válogathatsz, mint Nike, Adidas, Asics,
      Sancony, Salomon, Helly Hansen. Klubtagjainknak mindezek Playmax áron is
      elérhetőek!
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>focicipő</li>
      <li>futócipő</li>
      <li>kiegészítők</li>
      <li>sportruházat</li>
      <li>technikai ruházat</li>
      <li>utcai cipő</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Adidas</li>
      <li>Asics</li>
      <li>Converse</li>
      <li>Helly Hansen</li>
      <li>Nike</li>
      <li>Reebok</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>Egészségpénztári kártya</li>
      <li>Iskolai Erzsébet-utalvány</li>
      <li>Ajándék Erzsébet-utalvány</li>
      <li>Sport Erzsébet-utalvány</li>
      <li>Ticket Compliments Top Premium</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>
