<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %></h1>
  A Douglas Parfüméria széles választékban kínál illatszereket, kozmetikumokat és bőrápolási termékeket. Kiváló minőségű, prémium márkákkal várják a vásárlókat.
  <br><br>
  SZOLGÁLTATÁSOK<br>
  bőrápolási tanácsadás<br>
  smink tanácsadás<br>
  ELFOGADOTT FIZETŐESZKÖZÖK<br>
  Készpénz (Forint)<br>
  Bankkártya<br><br>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
