<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/douglas.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      Ismerje meg a Douglas pillanatot! Szeretne egy kis kényeztetést, némi
      luxust csempészni a hétköznapokba? A Douglas jóval többet nyújt, mint egy
      átlagos parfüméria. Munkatársainkkal folyamatosan azon dolgozunk, hogy
      boltjainkban öröm legyen a vásárlás, és mindenki rátalálhasson azokra a
      termékekre, melyek tökéletesen megfelelnek ízlésének. Azt szeretnénk, hogy
      vásárlóinknak a Douglas névről a minőség és a vevőközpontúság jusson az
      eszébe. Ezt szolgálják tágas és kellemes hangulatú üzleteink, ahol a
      legújabb trendek alapján összeállított, folyamatosan bővülő, változatos
      termékválasztékkal várjuk. Munkatársaink és szakértő tanácsadóink
      segítenek abban, hogy megtalálhassa a legmegfelelőbb kozmetikumokat és
      szépségápolási szereket, legyen szó akár - sminkfrissítésről, - alkalmi
      vagy esküvői smink készítéséről, - bőrápolási vagy sminktanácsadásról, -
      bőrdiagnosztikáról vagy - kézápolásról és manikűrről. Kínálatunkat úgy
      alakítottuk ki, hogy az illatoktól a testápoló termékeken át a szezonális
      trendtermékekig és kiegészítőkig mindig az ízléséhez leginkább passzoló
      termékeket vásárolhassa meg. Számos olyan márkát forgalmazunk, melyek
      Magyarországon kizárólag a Douglas üzleteiben érhetők el. Parfümériánkban
      megismerheti a Douglas saját márkás termékeit is, melyek a szépségápolás
      minden területét lefedik. Haj- és bőrápoló családunk, illatszereink,
      dekorkozmetikai termékeink mindig a legmagasabb minőséget nyújtják kiváló
      ár-érték arány mellett. Térjen be hozzánk: üzleteinkben számtalan
      újdonsággal, exkluzív termékekkel és különleges kedvezményekkel várjuk!
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>arcápolás</li>
      <li>dekorkozmetika</li>
      <li>férfikozmetika</li>
      <li>hajápolás</li>
      <li>illat</li>
      <li>körömápolás</li>
      <li>lábápolás</li>
      <li>napozás</li>
      <li>smink kiegészítők</li>
      <li>testápolás</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Ahava</li>
      <li>Armani</li>
      <li>Boss</li>
      <li>Bvlgari</li>
      <li>Cartier</li>
      <li>Chanel</li>
      <li>Clinique</li>
      <li>Dior</li>
      <li>DKNY</li>
      <li>Douglas Home Spa</li>
      <li>Douglas make-up</li>
      <li>Elie Saab</li>
      <li>Estée Lauder</li>
      <li>Givenchy</li>
      <li>Gucci</li>
      <li>Jimmy Choo</li>
      <li>Lancome</li>
      <li>Isadora</li>
      <li>Montblanc</li>
      <li>Narciso Rodriguez</li>
      <li>Shiseido</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>5 perces smink</li>
      <li>bőranalízis</li>
      <li>bőrápolási tanácsadás</li>
      <li>díszcsomagolás</li>
      <li>kézmasszázs</li>
      <li>illattanácsadás</li>
      <li>sminktanácsadás</li>
      <li>esküvői smink</li>
      <li>nappali smink</li>
      <li>körömápolás</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Készpénz (Euro)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>Edenred</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>