<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/eletizek.jpg"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      Több mint 500 féle csokoládé és cukorka, 70 féle tea a világ nagy
      termőterületeiről, 22 féle szemes kávé , különleges borválogatás, kézműves
      belga – és magyar sörök, prémium italok várnak Rád…
    </p>
  </div>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
<%- include('includes/end') %>
