<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/E-H/exclusivechange.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>autópálya matrica</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>pénzváltás</li>
      <li>western union</li>
      <li>egyenleg feltöltés</li>
      <li>utasbiztosítás</li>
<%- include('includes/end') %>