<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/flyingtigercopenhagen.png"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
  </div>
    <p>
      <strong>HALLOD! SZERETJÜK A DESIGNT, A KREATÍVÍTÁST ÉS A MÓKÁT.</strong
      ><br /><br />
      Kövess minket és légy inspirálva otthon, az irodában vagy a szabadban.
      Dolgok, amik megnevettetnek. Ajándékok, amelyeket jó adni. Termékek,
      amiket rögtön ki akarsz próbálni. A gazdagabb életnek nem kell egy
      vagyonba kerülnie.
      <br /><br />
      Látogass el hozzánk, és győződj meg róla személyesen! Várunk szeretettel!
    </p>
    <h2>SOCIAL MEDIA</h2>
    <ul>
      <li>
        <a
          href="https://www.facebook.com/FlyingTigerCopenhagenHU"
          target="_blank"
          rel="noreferrer"
          aria-label="facebook"
          >facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/flyingtigerhu/"
          target="_blank"
          rel="noreferrer"
          aria-label="Instagram"
          >Instagram</a
        >
      </li>
    </ul>
    <h2>TERMÉKEK:</h2>
    <ul>
      <li>Design termékek</li>
      <li>Irodaszerek</li>
      <li>Játékok</li>
      <li>Konyhai kiegészítők</li>
      <li>Hobbi termékek</li>
      <li>Elektronikai kiegészítők</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK:</h2>
    <ul>
      <li>Készpénz</li>
      <li>Bankkártya</li>
<%- include('includes/end') %>