<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/E-H/gas.jpg"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      Üzlethálózatunk a GAS Jeans, kiváló minőségű, olasz ruházati márka
      termékeit forgalmazza Magyarországon. A GAS Jeans márka a mai napig az
      olasz Grotto család tulajdonában és irányítása alatt áll. Küldetésünknek
      tekintjük: Olyan termékeket kínálni, melyek megfelelnek a mai kor
      ízlésének, mégis felül tudják múlni a pillanat divatját. Minden alkalomra
      funkcionális alapdarabokat nyújtani, melyek képesek kifejezni a viselőjük
      személyiségét és stílusát, ezáltal egyediek és személyre szabottak.
      Pozitivitás, frissesség és hitelesség, ezzel a három szóval lehetne
      röviden jellemezni márkánkat, melyet nemcsak termékeink, hanem üzleteink
      is hűen tükröznek.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>női felsőruházat</li>
      <li>férfi felsőruházat</li>
      <li>táska</li>
      <li>cipő</li>
      <li>napszemüveg</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>GAS</li>
      <li>Furla</li>
      <li>Police</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Saját utalvány/ajándékkártya</li>
      <li>Ticket Service</li>
      <li>Iskolai Erzsébet-utalvány</li>
      <li>Ajándék Erzsébet-utalvány</li>
      <li>Gyermekvédelmi Erzsébet-utalvány</li>
      <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>