<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/guess.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      Az 1981-ben alapított GUESS farmergyártó cégként indult, és azóta
      sikeresen globális életmódmárkává nőtte ki magát. <br /><br />
      A Guess? Inc. kortárs ruházati cikkeket, farmereket, kézitáskákat, órákat,
      szemüvegeket, lábbeliket és egyéb kapcsolódó fogyasztói termékeket tervez
      és forgalmaz, és biztosít számukra licencet. A Guess? termékek
      forgalmazása világszerte Guess? márkaboltokban, valamint áruházakban és
      szaküzletekben történik. 2023. január 28-án a Vállalat 1046
      kiskereskedelmi üzletet üzemeltetett közvetlenül Amerikában,
      <br /><br />
      Európában és Ázsiában. A Vállalat partnerei és forgalmazói további 562
      kiskereskedelmi üzletet működtettek világszerte. 2023. január 28-án a
      Vállalat, valamint partnerei és forgalmazói a világ mintegy 100 országában
      működtek. A Vállalattal kapcsolatos további információkért látogasson el a
      <a href="https://www.guess.eu/en-hu/homepage" target="_blank"
        >www.guess.eu</a
      >
      webhelyre.
    </p>
  </div>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Guess</li>
    </ul>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>férfi és női ruházat</li>
      <li>kiegészítők (ékszer, óra, pénztárca, övek, cipő és táskák)</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>HUF</li>
      <li>Bankkártya</li>
      <li>Saját ajándékkártya</li>
<%- include('includes/end') %>
