<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/heavytools.png"
      alt="<%= pageTitle %>"
      class="ImgS"
    />
    <p>
      A Heavy Tools ® egy nemzetközi sporty fashion brand. Célja, hogy stílust
      és élményt adjon azoknak, akik keresik a kalandot, aktívan élik életüket
      és igyekeznek kihozni a maximumot a mindennapjaikból. Sokszínű, így
      sokoldalú kollekciót képvisel. Ikonikus mintáival egyedi stílust kínál.
      Sportos merészséget, mégis kifinomult szemléletet tükröz. Strapabíró és
      időtálló darabokkal biztosítja a rá jellemző prémium minőséget.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>ruházat</li>
      <li>cipő</li>
      <li>táska</li>
      <li>kiegészítő</li>
      <li>technikai ruházat</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
<%- include('includes/end') %>
