<%- include('includes/head') %>
    <img
      src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/E-H/herbaria.jpg"
      alt="<%= pageTitle %> logója"
      class="ImgS"
    />
    <p>
      Filozófia <br /><br /><br />
      A Herbária 1949-ben alakult meg, azóta foglalkozik gyógynövény
      felvásárlással valamint gyógynövény alapú készítmények, gyógyteák,
      kozmetikumok és élelmiszerek előállításával és forgalmazásával.
      Társaságunk a magyar gyógynövény ipar és kereskedelem piacvezető
      vállalata.
      <br /><br />
      Termékeink fejlesztésében és gyártásában hangsúlyt fektetünk a
      népgyógyászati hagyományokra, a cég több mint 60 éves tapasztalatára és
      nem utolsó sorban a legkorszerűbb kutatási eredményekre. A
      termékfejlesztés fő iránya a gyógynövényekből álló készítmények körének
      bővítése valamint egy hungarikum gyógynövény termékkör kialakítása.
      <br /><br /><br />
      Minőségpolitika
      <br /><br /><br />
      Szakmai felkészültségünket és tapasztalatainkat felhasználva kiemelkedő
      minőségű termékeket állítunk elő. Célunk, hogy termékeink használata
      támogassa vásárlóinkat egy egészséges életmód kialakításában és
      fenntartásában. Termékeink ellenőrzött gyógynövényekből ISO, GMP, HACCP
      minőségirányítási rendszerek alapján készülnek.
    </p>
  </div>
    <h2>TERMÉKEK</h2>
    <ul>
      <li>gyógynövény teák</li>
      <li>élvezeti teák</li>
      <li>étrend kiegészítők</li>
      <li>gluténmentes termék</li>
      <li>laktóz mentes termék</li>
      <li>vegán élelmiszerek</li>
      <li>kozmetikumok</li>
      <li>kényelmi lábbelik</li>
      <li>talpbetétek</li>
      <li>lábgyógyászati termék</li>
    </ul>
    <h2>FORGALMAZOTT MÁRKÁK</h2>
    <ul>
      <li>Herbária</li>
      <li>Bano</li>
      <li>Bánfi</li>
      <li>Bioco</li>
      <li>Vitaking</li>
      <li>Jutavit</li>
      <li>Bálint cseppek</li>
      <li>Szafi free</li>
      <li>Mester család</li>
      <li>Dénes natura</li>
      <li>Éden prémium</li>
      <li>Steinberger</li>
      <li>Berkemann</li>
      <li>Solidus</li>
      <li>Batz</li>
    </ul>
    <h2>SZOLGÁLTATÁSOK</h2>
    <ul>
      <li>ingyenes fejbőr diagnosztika</li>
      <li>tanácsadás</li>
    </ul>
    <h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
    <ul>
      <li>Készpénz (Forint)</li>
      <li>Bankkártya</li>
      <li>Egészségpénztári kártya</li>
      <li>Étkezési Erzsébet-utalvány</li>
      <li>Erzsébet-utalvány Plusz kártya</li>
      <li>Edenred</li>
      <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>