<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/hervis.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A "Mozdulj meg” mottó után szabadon a Hervis márkája a mozgás, illetve egy jobb életérzés örömét szimbolizálja. 

A Hervis választékát a vezető belföldi-, illetve külföldi sportmárkák határozzák meg, amelyekhez a legkedvezőbb árakon lehet áruházainkban hozzájutni. 

Hatalmas a sportszer-, sportcipő- és sportruházat választék, rendkívül előnyös szolgáltatások, szakképzett eladók és kedvező árak emelték a Hervist a legkedveltebb sportáruházak közé. A sportszerkereskedés jelenleg országszerte, mintegy 27 áruházzal áll vásárlói rendelkezésére 

Fő tevékenységünk a világmárkák forgalmazása, úgymint Adidas, Nike, Puma, Under Armour, Converse, Garmin, KTM, Helly Hansen, Levis, Skechers, Vans, Heavy Tools és még sok egyéb. 

Egyaránt megtalálhatók nálunk 1 helyen a sport és szabadidő cipők, ruházatok, illetve a különböző sportfelszerelések, többek közt kerékpárok széles választéka, sílécek és felszerelések, túra felszerelések, fitneszgépek, valamint kisebb eszközök. 

Időszakos akciókkal és szakértő csapattal várjuk a kedves vásárlókat!
</p>
</div>
<%- include('includes/end') %>
