<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/hm.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A svéd H&M egy nemzetközi kiskereskedelmi vállalat, mely az aktuális divatnak megfelelő ruházatot, kozmetikumokat és kiegészítőket kínálja hölgyeknek, uraknak, tinédzsereknek és gyerekeknek
</p>
</div>
<h2>Termékek</h2>
<ul>
  <li>női ruházat</li>
  <li>férfi ruházat</li>
  <li>gyermek ruházat</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Készpénz (Euro)</li>
        <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
        <li>ÁRKÁD Szeged vásárlási utalvány</li>
        <li>Bankkártya</li>
      </ul>
<%- include('includes/end') %>
