<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/HOUSE.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Szia, mi vagyunk a House - egy márka, ami teret ad Neked arra, hogy kifejezd magad a divaton keresztül. Olyan stílusokat alkotunk, amiket a divattól függetlenül viselhetsz, és rajtuk keresztül megmutathatod minden érzelmed. Arra inspirálunk, hogy játssz a külsőségekkel. Bátorságot adunk. Go for real. Go for House.

  Az utcákon keresünk inspirációt. A popkultúrából merítünk ihletet, meghallgatjuk azt, ami Neked és a csoportodnak fontos. Tudni akarjuk, mire van szükséged, mit nézel, mit érzel.
</p>
</div>

<%- include('includes/end') %>
