<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/humanic_hu.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  HUMANIC: Imádnivaló cipők! Nagy választék, magas minőség és abszolút hozzáértés a trendek és stílus területén – ezzel tűnik ki a HUMANIC európaszerte. A magas színvonalú kollekciókat nemzetközi tervezőkkel állítjuk össze minden szezonban. A HUMANIC boltok stílusos környezetében többek között olyan kedvelt márkák találhatóak meg, mint az Adidas, Converse, Esprit, Nike, S.Oliver, Pepe Jeans, Tamaris, Tommy Hilfiger, Vagabond. Paradicsom minden divatőrült számára, aki a trendszakértelmet értékelni tudja! A HUMANIC-nál szó szerint imádjuk a cipőket!
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>Cipő</li>
  <li>Táska</li>
  <li>Kiegészítő</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Nike</li>
<li>Adidas</li>
<li>Puma</li>
<li>Esprit</li>
<li>Bugatti</li>
<li>SMH</li>
<li>Pat Calvin</li>
<li>Vagabond</li>
<li>Tommy Hilfiger</li>
<li>Lazzarini</li>
<li>Tom Taylor</li>
<li>Mustang</li>
<li>OMG</li>
<li>Seveneast</li>
<li>Minozzi</li>
<li>Rieker</li>
<li>Josef Seibel</li>
<li>Vabene</li>
<li>Urbanx</li>
<li>Genius</li>
<li>Frank Walker</li>
<li>Fraiche</li>
<li>U&M</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>OTP cafeteria kártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>
</ul>
<%- include('includes/end') %>
