<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/I-K/idozonalogo20200310.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Üzletünk egy jól felszerelt szervizzel, fali és karórákkal várja vásárlóit. 25000 Ft alatti termékeivel az egyik legkeresettebb óraszaküzlet a városban.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
    <li>karóra</li>
    <li>falióra</li> 
    <li>ékszer</li> 
    <li>állóóra</li> 
    <li>szíj</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul> 
  <li>Adidas</li> 
  <li>Astron</li> 
  <li>Ben Sherman</li> 
  <li>Casio</li> 
  <li>Cartini</li> 
  <li>Daniel Klein</li> 
  <li>Dolce</li> 
  <li>Donna Karan New York</li> 
  <li>Fossil</li> 
  <li>Lego</li> 
  <li>Henry London</li> 
  <li>Komono</li> 
  <li>Marc Maddox</li> 
  <li>Merion</li> 
  <li>Morgan</li> 
  <li>Pierre Cardin</li> 
  <li>Pierre Lannier</li> 
  <li>Skagen</li> 
  <li>S'Oliver</li> 
  <li>QQ</li> 
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul> 
  <li>elem csere</li> 
  <li>garanciális javítások</li> 
  <li>szíj csere</li> 
  <li>szíj méretre igazítás</li> 
  <li>ultrahangos tisztítás</li> 
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul> 
  <li>Készpénz (Forint)</li> 
  <li>Készpénz (Euro)</li> 
  <li>Bankkártya</li> 
  <li>Saját utalvány/ajándékkártya</li> 
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
<%- include('includes/end') %>