<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %>!</h1>
  <p>Elegáns és kényelmes fehérneműk széles választéka.</p>
  <h2>Szolgáltatások</h2>
  <ul>
    <li>Női fehérnemű</li>
    <li>Kiegészítők</li>
    <li>Ajándékkártyák</li>
  </ul>
  <h2>Elfogadott fizetőeszközök</h2>
  <ul>
    <li>Készpénz (Forint)</li>
    <li>Bankkártya</li>
  </ul>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
