<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/intimissimi.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Az Intimissimi születése egy nagyszerű történet: A Calzedonia által világszerte sikeresen megvalósított értékesítési forma ötlete 1986-ban született. A nemzetközi sikerekre alapozva 1996-ban megalkották az Intimissimi márkát, azzal a céllal, hogy kiváló minőségű termékeket értékesítsenek vonzó áron.
  Az Intimissimi márka forradalmasította a fehérneműk világát. Női és férfi fehérneműk, pizsamák, felső- és szabadidőruházat széles választékát kínálja. Összetéveszthetetlen design, a legújabb divatirányzat színei és ötletei jelennek meg minden kollekcióban férfiak és nők számára egyaránt.
<h2>TERMÉKEK</h2>
<ul>
  <li>nói fhérnemű</li>
  <li>férfi fhérnemű</li>
  <li>felsőruházat</li>
  <li>gyerfmekruhazat</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>intimissi</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>
</ul>
<%- include('includes/end') %>
