<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/istyle.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Kínálatunkban megtalálod a legújabb iPhone, iPad, Apple Watch és MacBook modelleket. Folyamatos kedvezményekkel és részletfizetési lehetőséggel várunk. Szakértőink segítségével kiválaszthatod a hozzád legjobban illő termékeket és szolgáltatásokat. Tedd teljessé az élményt és válassz eredeti Apple, iSTYLE sajátmárkás, vagy más kompatibilis kiegészítőink közül.
</p>
  2021-2023-ban az iSTYLE elnyerte az Év Boltja Népszerűségi díját.
<h2>TERMÉKEK</h2>
<ul>
  <li>Ipad</li>
  <li>Iwatch</li>
  <li>Mac</li>
  <li>Okos eszközök/li>
</ul>
<h2>Szolgáltatások</h2>
<ul>
<li>Apple termékek hivatalos szervizelése </li>
<li>Részletfizetés</li>
<li>BYEback készülékbeszámítás</li>
<li>Easy Upgrade</li>
<li>Tax free vásárlás</li>
<li>Ajándékutalványok</li>
</ul>

<%- include('includes/end') %>
