<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/I-K/iwash-autokozmetika.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Az iWash autókozmetika a P2 parkolószinten található.
  A Szeged ÁRKÁD parkolójában professzionális gépekkel, környezetbarát minőségi tisztítószerekkel, tapasztalt személyzettel várjuk kedves ügyfeleinket.</p>
  </div>
<h2>Szolgáltatások</h2>
<ul>
<li>gépjármű kozmetika</li>
</ul>
<h2>Elfogadott fizetőeszközök</h2>
<ul>
  <li>Kézpénz</li>
</ul>

<%- include('includes/end') %>