<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/jackandjones.jpeg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A JACK & JONES az erősebbik nem képviselőit szólítja meg. Kollekciójukban a minimalista stílus, modern városi megjelenés és a klasszikus elegancia jár kéz a kézben. A dán precizitás, minőségi alapanyag használat megjelenik a márka által forgalmazott farmerek, pólók, pulóverek, kiegészítők mindegyikében.</p>
<h2>TERMÉKEK</h2>
<ul>
  <li>férfi farmer</li>
  <li>polo</li>
  <li>pulover</li>
  <li>ing</li>
</ul>
<h2>fizetőeszközök</h2>
<li>Euro</li>
<li>forint</li>


<%- include('includes/end') %>
