<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/libri.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Libri Könyvesboltban számos szépirodalmi mű és ismeretterjesztő kiadványon felül kibővített gyerek-és ifjúsági, idegen nyelvű és életmód kiadványok kínálatával találkozhat, és változatlanul élhet állandó akcióinkkal is.

  Ezen felül további kedvezményeket kínál törzsvásárlói részére, valamint tetszőleges összeggel feltölthető ajándékkártyáinkkal azok számára is kiváló lehetőséget biztosít, akik a bőséges kínálatból
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>könyv</li>
  <li>hangoskönyv</li>
  <li>idegen nyelvű könyvek</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>OTP cafeteria kártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>


<%- include('includes/end') %>