<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/L-O/liliputjatekvilag.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
FELÚJÍTÁS MIATT ZÁRVA
</p>
</div>
<ul>
<%- include('includes/end') %>