<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/lottozo.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Lottózóban a Szerencsejáték Zrt. által szervezett szerencsejátékok teljes kínálata elérhető, de akár mobiltelefon egyenleg is kényelmesen feltölthető. A régi nagy kedvencek (Ötöslottó, Hatoslottó, Skandináv Lottó, Kenó, Luxor) mellett érdemes kipróbálni kínálatunk más tagjait is, legyen az akár a Tippmix, a Puttó, a kaparós sorsjegyek, vagy éppen legújabb játékunk, a Napi Mázli. Munkatársaink készséggel segítenek mindenkinek, aki szeretné megismerni ezen szerencsejátékok világát.
  Sportfogadó játékosaink okoseszközökön és kivetítőkön követhetik élőben a sporteseményeket.
</p>
</div>
<h2>Várunk minden kisokost</h2>
<p>Általános információkért, valamint az elektronikus játék- és fogadási lehetőségekkel kapcsolatban a Szerencsejáték Zrt. Ügyfélszolgálatát kereshetik az alábbi telefonszámokon a hét minden napján 7-23 óra között: 06-1/201-0580 vagy 06-1/201-0617</p>
<h2>TERMÉKEK</h2>
<ul>
  <li>számsors játékok</li>
  <li>sportfogadások</li>
  <li>sorsjegyek</li>
</ul>
<h2>Szolgáltatások</h2>
<p>Szerencsejáték</p>
<%- include('includes/end') %>