<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/L-O/mayochix.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<h2>TERMÉKEK</h2>
<ul>
  <li>bőrdíszmű</li>
  <li>bizsu</li>
  <li>női divatáru</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>Bankkártya</li>
</ul>
<%- include('includes/end') %>
