<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/mediamarkt.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Több mint 35 éves fennállásunk alatt, Magyarország és Európa piacvezető elektronikai kiskereskedőjeként a Media Markt márkanév összeforrott a megbízhatósággal, a szakértő munkatársak nyújtotta segítséggel, a széleskörű szolgáltatások biztosításával, valamint a magas színvonalú vásárlói élménnyel. Legyen szó online vagy az áruházban történő vásárlásról, a Media Marktban kényelmesen és egyszerűen juthatunk hozzá több tízezer gyártó termékeihez.

Számunkra kiemelten fontos, hogy ügyfeleink úgy vásárolhassanak, ahogy nekik tetszik. Legyen szó az online felületünk nyújtotta kényelemről vagy az áruházak segítő és támogató légköréről, mi mindig arra törekszünk, hogy ne csak egyszerű termékeket, hanem a vásárlók számára kihívást jelentő szituációkra adott választ, megoldást adhassunk. Széles árukészletünk, a 10 milliós pótalkatrész kínálatunk, számunkra az alap, erre építjük rá kollégáink segítőkészségét, a barátságos légkört, az áruházainkban elérhető, további szolgáltatásainkat.

A célunk, hogy versenyképes árak, valamint vonzó ajánlatok és akciók mellett a nálunk vásárlók azt érezzék, hogy a Media Marktban vásárolni nyugalom és élmény. Ha pedig élmény, akkor humor és önfeledtség, amely elsősorban reklámjainkban jelenik meg. Hiszünk abban, hogy ha vásárlóink számára élménnyé tesszük a vásárlást, legközelebb is bennünket választanak majd.
</p>
</div>
<h2>Szolgáltatások</h2>
<ul>
  <li>áruhitel</li>
  <li>okospult</li>
  <li>garancia plusz szolgáltatás</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>OTP cafeteria kártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>
</ul>

<%- include('includes/end') %>