<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/misterminitHU.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Az országos hálózattal rendelkező Mister Minit jellemzően helyszínen megvárható javító, másoló szolgáltatásokkal, széles anyagválasztékkal, két anyagminőség – két ár politikát folytatva biztosítjuk szolgáltatásainkat. 
</p>
</div>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>cipőjavítás (sarkalás, talpalás, varrás, ragasztás, tágítás stb.)</li>
  <li>kulcsmásolás (cilinderes, speciális és tollaskulcsok, autó- és lakáskulcsok széles választéka)</li>
  <li>élezés (korcsolya, olló, kés /hullámos élű is/, húsdaráló)</li>
  <li>gravírozás (névtáblakészítés, ajándéktárgyakba monogrammozás, irodai eligazító táblák készítése, sportkupák, érmék, stb.)</li>
  <li>bélyegző készítés (hagyományos és automata)</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>


<%- include('includes/end') %>