<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/mkleder.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Látogasson el MK LEDER üzletünkbe, ahol a prémium világmárkák mellett hazai és olasz termékeink közül válogathat. Legyen szó strapabíró bőröndökről, stílusos táskákról vagy elegáns pénztárcákról, nálunk minden darab a minőség és a dizájn tökéletes egyensúlyát képviseli. Ha kérdése merülne fel, munkatársaink készséggel állnak rendelkezésére, hogy segítsenek Önnek a legideálisabb termék kiválasztásában.
</p>
</div>
<h2>SOCIAL MEDIA</h2>
<ul>
  <li>facebook</li>
  <li>instagram</li>
</ul>
<h2>TERMÉKEK</h2>
<ul>
<li>bőrönd</li>
<li>táska</li></ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>Övek méretre igazítása</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>

<%- include('includes/end') %>