<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/muellerdrogerie.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Amikor 1953-ban Erwin Müller megalapította Ulmban az első saját férfifodrász üzletét, a Müllert, még senki sem gondolta, hogy a cég a német kiskereskedelmi láncok egyik legérdekesebb szereplőjévé válik. Évek óta töretlenül fejlődik és bővül Európa-szerte.

Mára több, mint 800 üzletében kínál vásárlóinak kellemes környezetet a vásárláshoz. A siker titka a következő: barátságos környezet, udvarias kiszolgálás, a kedvező árak és az óriási választék. A Müller 11 részleggel rendelkezik: drogéria, biotermékek, parfüméria, natúrkozmetikumok, játékok, írószer, háztartás, harisnyák és kézimunka. A Müller tehát nemcsak egy egyszerű drogéria, hanem több annál.

A Müller több mint 40 saját márkával rendelkezik, a kiváló kozmetikai és testápolási termékektől kezdve, a bio-élelmiszereken és natúrkozmetikumokon át, a tisztító- és mosószerekig átfogó termékpalettát biztosít több, mint 4000 saját márkás termékkel. A Müller minőségi márka – mint ahogy a nevében is szerepel - kiváló színvonalú  és kedvező árú termékeket jelent.
</p>
</div>
<h2>SOCIAL MEDIA</h2>
<ul>
  <li>facebook</li>



<%- include('includes/end') %>