<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/Muyoso.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Szeretnél megismerni egy új életérzést, amit Ázsia világa megmutat számodra? Térj be üzletünkbe!
  <br/><br/>
  Válassz a játékok, plüssök, szépségápolási termékek, háztartási és konyhai eszközök közül! Hölgyeknek, lányoknak és mindenki számára jóleső kikapcsolódás!
</p>
</div>
<ul>


<%- include('includes/end') %>