<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/L-O/nailexpress.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Nail Express műköröm már teljes kéz- és körömápolás szolgáltatásokkal várja kedves vendégeit. A mai rohanó világban akár azonnal, bejelentkezés nélkül is tudjuk vendégeinket fogadni, illetve előzetes bejelentkezés alapján, a hét minden napján reggeltől-estig szakképzett munkatársaink várják önt. A legmodernebb technikákkal, termékekkel biztosítjuk, hogy körmei ragyogóan szépek legyenek. Professzionális szolgáltatás megfizethető áron nők és férfiak számára egyaránt.
</p>
</div>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
  <li>Brill Bird</li>
  <li>Crystal Nails</li>
  <li>2M Beauty</li>
</ul>
<h2>TERMÉKEK</h2>
<ul>
<li>kéz és körömápolás</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>férfi manikűr</li>
  <li>gél lakk eltávolítás</li>
  <li>gél lakkozás</li>
  <li>japán manikűr</li>
  <li>körömlakkozás</li>
  <li>manikűr</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>


<%- include('includes/end') %>