<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/newyorker.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A NEW Yorker több mint 1000 üzlettel a Young Fashion területén Európa vezető vállalati közé tartozik és kínál aktuális divatot a trendtudatos vásárlóknak. A sokszínű és átfogó kínálat az ismert saját márkákból tevődik össze mint a FISHBONE, FISHBONE SISTER (Sportos-és utcai viselet), AMISU és SMOG ( hétköznapi- és eseti viselet) valamint a CENSORED (fehérnemű és fürdőruha). A szettek teljesé tételéhez az ACCESSOIRES-vonal Highlight termékekkel járul hozzá. A kollekciók nagy választéka az üzletekben naponta egészül ki új termékekkel. A NEW YORKERREL a mottójához híven: „dress for the moment”, nem hagyhat ki egyetlen trendet sem a vásárló és minden alkalomra megfelelő viseletet találhat!
</p>
</div>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
  <li>Amisu</li>
  <li>Fishbone Sister</li>
  <li>Smog</li>
  <li>Fishbone</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>


<%- include('includes/end') %>
