<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/officeshoes.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  1996-os alapítás óta az Office Shoes tíz országban jelenlévő hálózattá nőtte ki magát. A kiskereskedelmi lánc több mint 150 üzlettel rendelkezik Csehország, Lengyelország, Magyarország, Románia, Szlovákia, Horvátország és Szlovénia különböző városaiban.

Folyamatosan bővülő világszerte kedvelt és elismert márkák széles választéka található meg boltjainkban és webáruházunkban a legújabb trendeket képviselve. Webáruházunkból néhány kattintással Te is közelebb kerülhetsz az Office Shoes világmárkáihoz.
</p>
</div>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
  <li>BPuma</li>
  <li>Skechers</li>
  <li>Blink</li>
  <li>Adidas</li>
  <li>Vans</li>
  <li>Converse</li>
  <li>Tommy Hilfiger</li>
</ul>
<h2>Termékek</h2>
<ul>
<li>cipő </li>
<li>lábbeli</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>
</ul>

<%- include('includes/end') %>