<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/ofotert.jpeg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  1996-os alapítás óta az Office Shoes tíz országban jelenlévő hálózattá nőtte ki magát. A kiskereskedelmi lánc több mint 150 üzlettel rendelkezik Csehország, Lengyelország, Magyarország, Románia, Szlovákia, Horvátország és Szlovénia különböző városaiban.
<br/><br/>
Folyamatosan bővülő világszerte kedvelt és elismert márkák széles választéka található meg boltjainkban és webáruházunkban a legújabb trendeket képviselve. Webáruházunkból néhány kattintással Te is közelebb kerülhetsz az Office Shoes világmárkáihoz.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>cipő</li>
  <li>lábbeli</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
  <li>Caterpillar</li>
  <li>Converse</li>
  <li>Grendha</li>
  <li>Hunter</li>
  <li>Ipanema</li>
  <li>Inuovo</li>
  <li>Kitten</li>
  <li>Lacoste</li>
  <li>Lauren Ralph Lauren</li>
  <li>New Balance</li>
  <li>Polo Ralph Lauren</li>
  <li>Puma</li>
  <li>TOMS</li>
  <li>Birkenstock</li>
  <li>Rider</li>
  <li>Skechers</li>
  <li>Timberland</li>
  <li>Tommy Hilfiger</li>
  <li>UGG</li>
  <li>Vans</li>
  <li>Blink</li>
  <li>Bronx</li>
  <li>Gant</li>
  <li>Geox</li>
  <li>Lumberjack</li>
  <li>Napapijri</li>
  <li>Palladium</li>
  <li>Zaxy</li>
  <li>Flossy</li>
  <li>Butterfly Twists</li>
  <li>Ellesse</li>
  <li>Helly Hansen</li>
  <li>K-swiss</li>
  <li>Merrell</li>
  <li>Superga</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li><li>Bankkártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>