<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/ofotert.jpeg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Ofotért üzletünkben a hét minden napján várjuk kedves Vásárlóinkat, akiknek teljes optikai szolgáltatást nyújtunk a szemvizsgálattól, a megfelelő szemüveg, napszemüveg és/vagy kontaktlencse kiválasztásán keresztül a kész szemüveg elkészítéséig. Aktuális akciós ajánlatainkat keresse üzletünkben!
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
<li>szemüvegkeretek</li>
<li>zemüveglencsék</li>
<li>napszemüvegek</li>
<li>kontaktlencsék</li>
<li>kontaktlencse ápolószer</li>
<li>szemüvegtok</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>szemvizsgálat</li>
  <li>kontaktlencse illesztés</li>
  <li>kontaktlencse betanítás</li>
  <li>szemüvegkészítés</li>
  <li>Ofotért Plusz Garancia</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>

<%- include('includes/end') %>