<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/L-O/opticworldexclusive.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Üzletünk Szeged egyik legnagyobb napszemüveg és optikai keret választékával büszkélkedik, melyből képzett munkatársaink készséggel állnak rendelkezésedre a legmegfelelőbb kiválasztásában.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
<li>napszemüveg</li>
<li>optikai keret</li>
<li>tok</li>
<li>optikai lencse</li>
<li>szemcsepp</li>
<li>kontaktlencse</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>látás vizsgálat</li>
  <li>kontaktlencse illesztés</li>
  <li>kontaktlencse betanítás</li>
  <li>szemüvegkészítés</li>
  <li>szemüveg javítás</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>


<%- include('includes/end') %>