<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/L-O/origo-sport.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
</div>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
  <li>Nike</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>


<%- include('includes/end') %>