<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/L-O/otpbank.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
</div>
<h2>Termékek</h2>
<ul>
<li>banki termékek</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>lakossági számlavezetés</li>
  <li>befektetési szolgáltatások</li>
  <li>hitel ügyintézés</li>
  <li>lakáshitelezés</li>
  <li>vállalkozói hitelezés</li>
  <li>ki/be fizetős ATM</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
</ul>

<%- include('includes/end') %>