<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/pandorahivatalosviszontelado.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
</div>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>Pandora ékszerek tisztítása</li>
</ul>
<h2>TERMÉKEK</h2>
<ul>
  <li>Pandora eredeti ékszerek</li>
  <li>Pandora kiegészítők</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul><li>Pandora</li></ul>

<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
  <li>Bankkártya</li>


<%- include('includes/end') %>