<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %></h1>
  <h2>TERMÉKEK</h2>
<ul>
<li>Pandora eredeti ékszerek</li>
<li>Pandora kiegészítők</li>

</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
    <li>Pandora</li>
</ul>

<h2>SZOLGÁLTATÁSOK</h2>
<ul>
    <li>Pandora ékszerek tisztítása</li>
</ul>

<h2>ELFOGADOTT VALUTÁK</h2>
<ul>
<li>Készpénz (HUF)</li>
<li>Bankkártya</li>
<li>Utalványom/ajándékkártyám</li>
<li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>

  </ul>
  <a href="/">Vissza a főoldalra</a>
</body>
</html>
