<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/P-T/parfois.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  1994-ben alakult portugál divatcég Portóban lévő központtal. A termékek tervezése Portóban és Barcelonában folyik. A Parfois termékek jó minőségű és a legújabb trendeket követő kiegészítő termékeket forgalmaznak több mint 50 országban.
</p>
</div>
<h2>Termékek</h2>
<ul>
  <li>bizsu</li>
  <li>táska</li>
  <li>sál</li>
  <li>bizsu</li>
  <li>Cipő</li>
  <li>kabát</li>
  <li>polo</li>
  <li>sapka</li>
  <li>farmer</li>
  <li>gyermeköltözet</li>
  <li>ruha</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>övlyukasztás</li>
  <li>ingyenes díszcsomagolás</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Készpénz (Euro)</li>
        <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
        <li>ÁRKÁD Szeged vásárlási utalvány</li>
        <li>Bankkártya</li>
      </ul>
<%- include('includes/end') %>