<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/OEVT/Shops/Logos/partypoint400x400.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Party Point Magyarország első léggömb és partikellék szaküzlet hálózata. Egyedülálló termékskálát és szolgáltatásokat kínál születésnapokra, baba születésre, esküvőre, karácsonyra, halloween-re és szilveszterre.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>ajándék</li>
  <li>dekorációk</li>
  <li>gyertyákl</li>
  <li>játék</li>
  <li>jelmezek</li>
  <li>kiegészítők</li>
  <li>lufik</li>
  <li>gumi lufi</li>
  <li>fóliás lufi</li>
  <li>party termékek</li>
  <li>tréfás dolgok</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>bohóc szolgáltatás</li>
  <li>rendezvény dekoráció</li>
  <li>csokoládé szökőkút</li>
  <li>dekoráció</li>
  <li>esküvői dekoráció</li>
  <li>lufihajtogatás</li>
</ul>
<h2>MÁRKÁK</h2>
<ul><li>Amscan</li>
<li>Anagram</li>
<li>Gemar</li></ul>

<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
      
<%- include('includes/end') %>