<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/pepco_AT.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A pepco ruházati és háztartási eszközöket forgalmazó diszkont kereskedelmi láncként divatos és kényelmes női, férfi és gyermek ruházattal, kiegészítőkkel, játékokkal, lakberendezési és konyhai eszközökkel, papír- írószerekkel várja kedves vásárlóit.

A pepco alapelve, hogy minden nap biztosítsa a lehető legjobb vásárlási élményt, alacsony áron kínálva jó minőségű termékeket, széles választékban.

A pepco üzletében, a család minden tagja számára talál valami szépet, hasznosat, alacsony áron.

Többet kevesebbért... mindennap! 

További részletes információkat a www.pepco.hu weboldalon talál.
</p>
</div>
<h2>Termékek</h2>
<ul>
  <li>háztartási eszközök</li>
  <li>női ruházat</li>
  <li>férfi ruházat</li>
  <li>játék</li>
  <li>gyermek ruházat</li>
  <li>kiegészítők</li>

</ul>
<h2>Elérhetőségek</h2>
<ul>
  <li>facebook</li>
</ul>

</ul>
<h2>Márkák</h2>
<li>pepco</li>

<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
      </ul>
<%- include('includes/end') %>