<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/pepejeans.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Pepe Jeans márka 1973-ban alakult, Angliában. Azóta Európa egyik vezető farmermárkája. Szeretettel várjuk az újonnan nyílt Pop-Up boltunkban, amelyben ízelítőt kaphatnak a Pepe Jeans színes kínálatából.
</p>
</div>
<h2>Márkák</h2>
<ul><li>Pepe Jeans</li></ul>


<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
      </ul>
<%- include('includes/end') %>