<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/P-T/pirexpapir.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Üzleteinkben forgalmazzuk a papír-írószer teljes választékát, nagy hangsúlyt fektetve a minőségi termékekre az iskolától az irodáig, minden korosztálynak, ízlésnek és elvárásnak megfelelően. Egyedi darabok, kollekciók, a füzetektől, iratrendezőktől, a kreatív hobby termékeken át a dekorációs termékekig.
</p>
</div>
<h2>Márkák</h2>
<ul>
  <li>Ars Una</li>
  <li>Clairefontaine</li>
  <li>Crayola</li>
  <li>Exacompta</li>
  <li>Faber-Castell</li>
  <li>Fiskars</li>
  <li>Hama</li>
  <li>Herlitz</li>
</ul>
<h2>Termékek</h2>
<ul>
  <li>díszcsomagolás</li>
  <li>fotó termékek</li>
  <li>hobby-kreatív</li>
</ul>

<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
      </ul>
<%- include('includes/end') %>