<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/playersroom.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A playersroom üzlethálózat tulajdonosa – az 1989-ben alapított Szinga Sport Kft. – Magyarország egyik legnagyobb cipő, sportfelszerelés és ruházati kis- és nagykereskedője, amely saját termékei mellett mindig a legtrendibb, legdivatosabb és az adott piacon nagy tömegek számára a legjobban eladható világmárkákat forgalmazza közel 70 üzletében országszerte. Termékei mellett nagy hangsúlyt fektet az általa nyújtott szolgáltatások színvonalára és a vevők igényei szerint folyamatosan bővülő kínálatára egyaránt.
</p>
</div>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
  <li>adidas</li>
  <li>Droco</li>
  <li>Nike</li>
</ul>
<h2>TERMÉKEK</h2>
<ul>
  <li>baseball sapka</li>
  <li>cipő</li>
  <li>papucs</li>
  <li>ruházat</li>
</ul>

<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
      
<%- include('includes/end') %>