<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/P-T/polouzem.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A helyszínen bármit azonnal pólóra nyomtatunk! Célunk, hogy kiemelkedő minőséget nyújtva elkészítsük klienseinknek a kívánt, egyedi, ruhadarabjaikat. Az egyedi gyártás mellett vállalunk nagyobb megrendeléseket is, melyeket rövid határidővel teljesítünk. Éppen ezért az egyedi gyártás mellett nagy hangsúlyt fektetünk a cégek, iskolák, egyesületek és közintézmények egyedi textil feliratozási igényeinek kielégítésére.
</p>
</div>
<h2>Szolgáltatások</h2>
<ul>
  <li>egyedi pólók</li>
  <li>céges pólók</li>
  <li>mez számozás</li>
  <li>párnahuzat feliratozás</li>
  <li>táska feliratozás</li>
  <li>textil feliratozás</li>
  <li>sapka feliratozás</li>
</ul>
<h2>Termékek</h2>
<ul>
  <li>baseball sapka</li>
  <li>polo</li>
  <li>pulcsi</li>
  <li>ruházat</li>
</ul>

<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
      <ul>
        <li>Készpénz (Forint)</li>
        <li>Bankkártya</li>
      </ul>
<%- include('includes/end') %>