<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/P-T/posta.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Postai szolgáltatások széles választéka, beleértve a csomagküldést, levélküldést és pénzügyi szolgáltatásokat.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>DVD</li>
  <li>Édesség</li>
  <li>Játék</li>
  <li>Könyvek</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
<li>Postai szolgáltatások</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Posta Paletta</li>
  <li>Étkezési Erzsébet-utalvány</li>
  <li>Iskolai Erzsébet-utalvány</li>
  <li>Ajándék Erzsébet-utalvány</li>
</ul>
<%- include('includes/end') %>