<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/pullbear.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A márkát 1991-ben, az Inditex cégcsoport tagjaként alapították azzal a törekvéssel, hogy az aktuális trendeket keresztezze a technológiával, a művészettel, a zenével és a sporttal.
Mind a női, mind a férfi kollekcióban két fő irányzatot különböztet meg, az egyik egy laza, sportosabb irányzat, míg a másik egy eklektikusabb vonal, ami több stílust is magába foglal és bármilyen alkalomhoz tökéletesen passzol.
</p>
<p>A Pull and Bear azoknak tökéletes választás, akik fiatalosak, lendületesek és követik az aktuális trendeket.</p>
</div>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Pull&Bear</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>

<%- include('includes/end') %>