<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/_processed_/f/2/csm_reserved_00ae948dfc.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Reserved a legújabb trendeket követő divatmárka. Vásárlóink igényeire gyorsan reagálunk, hétről hétre új modelleket kínálva számukra az üzletekben és a webshopban. A divat világában nem ismerünk határt: inspirálódunk a kifutók nagyszerű világából, csakúgy, mint a fashion influenszerek alternatív és merész ajánlataiból. A Reserved kollekciói a klasszikus dizájn szépségét az aktuális szezon nőknek, férfiaknak és gyerekeknek szóló eredeti és legújabb divat szerinti ajánlataival kombinálják. A Reserved kollekciói jelen vannak Európa 14, és a Távol-Kelet 5 országában. Több, mint 450 üzletből álló hálózatunk olyan zászlóshajókkal bír, mint berlini és moszkvai márkaboltunk. 2017. szeptemberétől pedig már Londonban, az Oxford Streeten is megtalálhatóak vagyunk!
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>cipő</li>
  <li>ruha</li>
  <li>ékszer</li>
  <li>kiegészitő</li>
  <li>fehérnenű</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Reserved</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li></li>
  <li>li>
  <li></li>
  <li></li>
</ul>
<%- include('includes/end') %>