<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/retrojeans.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Retro Jeans 2001-ben nyitotta első üzletét, mint denim lifestyle márka, ruhákat, kiegészítőket kínálva nőknek és férfiaknak egyaránt. A cég nagy hangsúlyt fektet az alapanyagok minőségére és a folyamatos innovációra. A márka legnagyobb örökségét erős identitása jelenti. Ennek lenyomata a dupla R logóban köszön vissza, amely a termékek többségén megtalálható. A tükröződő betűpár egyszerre jelenti a visszatekintést a múlt értékeire, továbbá definiálja az előttünk álló jövőt.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>férfi ruházat</li>
  <li>női ruházat</li>
  <li>férfi lábbeli</li>
  <li>női lábbeli</li>
  <li>alsóneműk</li>
  <li>táskák</li>
  <li>övek</li>
  <li>pénztárcák</li>
  <li>napszemüvegek</li>
  <li>kiegészítők</li>
  <li>nyakláncok</li>
  <li>karkötők</li>
  <li>gyűrűk</li>
  <li>kulcstartók</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Retro</li>
<li>Converse</li>
<li>Timberland</li>
<li>Ugg</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>
<%- include('includes/end') %>