<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/rossmann.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Mindent megteszünk annak érdekében, hogy a vásárlás élmény legyen, ezért üzleteinket a vásárlói igényekhez alkalmazkodva építjük át, szépítjük meg.

Egyre bővülő választékunk közül, jelenleg 17.000 termék, több mint 2500 saját márkás termék érhető el, melyek remek választást kínálnak mindazoknak, akik első osztályú minőséget keresnek kedvező áron. A sajátmárkás termékek között megtalálhatók az áruválaszték fő elemei, mint például női és férfi kozmetikumok, hajápolók, napozószerek, gyermekkozmetikumok, pelenkák, női higiéniás termékek, tisztálkodó szerek, háztartási eszközök.

2014 decemberétől már elérhető webshopunkban enerBio teljes szortimentünk, mely 350 terméket ölel fel. A választék teljes mértékben megfelel az EU bio élelmiszerekre vonatkozó irányelveinek, minden terméke ökológiailag ellenőrzött termelőtől származik és géntechnikailag nem módosított alapanyagokból készül.

Szintén újdonság a Németországban már bizonyított Rival de Loop Young dekorkozmetikai termékcsoportunk, mely a legmodernebb, legkényelmesebb bőrápolási megoldásokat, dekorlehetőségeket nyújtja.
</p>
</div>
  

<%- include('includes/end') %>