<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/samsung.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Samsung Experience Store üzlet egy olyan hely, ahol játszva tanulhatsz és találhatsz megoldásokat. Üzleteinkben megismerheted a legújabb mobil termékkínálatunkat és megtanulhatod, miként lehetnek a mindennapjaid szórakoztatóbbak és kreatívabbak.
</p>
  
</div>
<%- include('includes/end') %>