<%- include('includes/head') %>
        <img
          src=""
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Saxoo London férfi ruházati márka sikertörténete 1997-ben indult mikor rövid idő alatt, a különleges és egyedi kollekcióival meghódította mind a magyarországi mind pedig az európai vásárlókat.

Tökéletes szettekben a siker kulcsa.
A divat és a minőség, az elegancia és a sportos megjelenés tökéletes összhangja az, ami a Saxoo London darabjait leginkább jellemzi. A legújabb trendek inspirálta modelleknél a tervezők fő célkitűzése, hogy a kollekció viselőjének egyéni stílust és jó megjelenést biztosítson.
Az öltözékekkel harmonizáló kiegészítők ugyancsak jelentős szerepet játszanak egy-egy outfit összeállításkor.
A kis szériás, folyamatosan megújuló kollekció a life style-ra épül, egymáshoz illő, és sokféleképpen variálható együtteseket vonultat fel.

Az aktuális irányvonalakat felhasználva stílusok és anyagok keveredésében készülnek az adott kollekció modelljei amelyek ideálisak a hétköznapokra; a mindennapi munkába járáshoz, az elegáns alkalmakra; könnyed esti összejöveteleken, vagy akár a lazább hétvégi programok alkalmával is. A ruhákat az elegancia és a sportos megjelenés tökéletes összhangja mellett a dinamikus színek jellemzik.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>férfi ruházat</li>
  <li>férfi lábbeli</li>
  <li>férfi kiegészítők</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Saxoo London</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>Iskolai Erzsébet-utalvány</li>
  <li>Ajándék Erzsébet-utalvány</li>
  <li>Gyermekvédelmi Erzsébet-utalvány</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>Edenred</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>
<%- include('includes/end') %>