<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/scitecnutrition.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A SCITEC NUTRITION dominánsan az elsőszámú márka hazánkban, amióta csak kapható. Természetesen mindig a termékek minősége és megbízhatósága az alap, de most összefoglaljuk, hogy a SCITEC-et miért értékelik úgy, mint egy márka, amelyik másként tekint a piacra, mint a többi cég. Mi a vásárlókért és a testépítésért vagyunk!
</p>
</div>
<ul>
<%- include('includes/end') %>