<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/sinsay.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A SiNSAY a hangos, karakteres és önmagukat kifejezni vágyó lányok márkája, akik merészen követik a legújabb trendeket.

Projektjeinknek köszönhetően a SiNSAY lányok személyiségük eredetiségét kihangsúlyozva merülhetnek el a divatban. 

A márka tagadhatatlan előnye az alacsony ár, mely a tizenévesek számára is lehetővé teszi, hogy megvegyék álmaik pólóját, farmerjét vagy divat kiegészítőjét.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>ruha</li>
  <li>cipő</li>
  <li>táska</li>
  <li>ékszer</li>
  <li>kiegészitő</li>
  <li>fehérnenű</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>SiNSAY</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Ticket Service</li>
  <li>Iskolai Erzsébet-utalvány</li>
  <li>Ajándék Erzsébet-utalvány</li>
  <li>Gyermekvédelmi Erzsébet-utalvány</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>Erzsébet-utalvány Plusz kártya</li>
  <li>Edenred</li>
  <li>Ticket Compliments Top Premium</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>
<%- include('includes/end') %>