<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/P-T/sizeer2019.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Sizeer csakis a legnagyobb világmárkák legjobb streetwear-válogatását, sneakereit és kiegészítőit kínálja, mindig a legújabb trendek nyomában járva. A márkát Magyarországon és több európai országban mindenki ismeri, akinek a streetwear jelent valamit, egy jó sneaker pedig alap. A Sizeernél egy helyen találod meg az újdonságokat és a klasszikusokat olyan márkáktól, mint a Nike, adidas, Reebok, Converse, Vans, Puma, New Balance, Lacoste, ellesse, New Era, Timberland és sok más – a Sizeer a sneakereknél kezdődik, de nem ér véget velük… Itt a legnagyobb brandek legizgalmasabb cipői várnak, amiket könnyen kombinálhatsz hoodie-val, jogging nadrággal, pólóval és kiegészítőkkel.
  <br/><br/>
Azok a streetwear- és sneaker-rajongók, akiknek fontos a minőség és a választék, már régóta ismerik a Sizeert Magyarországon és Európa más országaiban is – a Sizeer-lánc jelenleg összesen 200 üzletből és 11 országban webshopból, illetve bizonyos piacokon Sizeer applikációból áll.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>lábbeli</li>
  <li>ruházat</li>
  <li>kiegészitők</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Adidas</li>
<li>Nike</li>
<li>Puma</li>
<li>Reebok</li>
<li>Fila</li>
<li>New Balance</li>
<li>Vans</li>
<li>Under Armour</li>
<li>Timberland</li>
<li>Jordan</li>
<li>Confort</li>
<li>Birkenstock</li>
<li>Converse</li>
<li>Lacoste</li>
<li>PAEZ</li>
<li>Roxy</li>
<li>Quicksilver</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz</li>
  <li>Bankkártya</li>

<%- include('includes/end') %>