<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/skechers.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Kiváló minőségű  SKECHERS Női-Férfi-Gyerek cipők és kiegészítők.

Több mint 300 féle cipő. A termékeket 14 napig áll módunkban cserélni, hordatlan állapotban, nyugta és doboz ellenében.
</p>
</div>
<%- include('includes/end') %>