<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/spar.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A SPAR Magyarország Kereskedelmi Kft. 1990-ben jött létre. A folyamatos és dinamikus fejlődésnek köszönhetően mára Magyarország egyik legnagyobb és legmeghatározóbb élelmiszer és napi cikk kereskedelmi láncává vált.
  <br/><br/>
Küldetésünk: A különféle vásárlói igényekhez igazodó, sokoldalú kereskedelmi szolgáltatás, magas minőségi színvonalú, széles áruválaszték és kedvező árszint biztosítása.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>élelmiszer</li>
  <li>vegyiáru</li>
  <li>nem élelmiszer jellegű termékek</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>SuperShop hűségprogram</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz(Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>Posta Paletta</li>
  <li>Sodexo</li>
  <li>Ticket Service</li>
  <li>OTP Cafeteria kártya</li>
  <li>Étkezési Erzsébet-utalvány</li>
  <li>Ajándék Erzsébet-utalvány</li>
  <li>Gyermekvédelmi Erzsébet-utalvány</li>
  <li>Sport Erzsébet-utalvány</li>
  <li>Kultúra Erzsébet-utalvány</li>
  <li>Erzsébet-utalvány Plusz kártya</li>
  <li>Ticket Compliments Top Premium</li>
  <li>Multi-Pay Cafeteria</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>