<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/OEVT/Shops/Logos/springfield20200228.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A bemutatkozó szöveg a gyengéké!
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>Illegális szerek</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>SPRINGFIELD</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Szervek(vese,tüdő)</li>

<%- include('includes/end') %>