<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/stradivarius.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Stradivarius eredetileg családi tulajdonban lévő női divatmárka, ami 1999-ben csatlakozott az Inditexhez és egy évtized alatt megnyitotta az 500. üzletét.
<br/><br/>
A Stradivarius tervezői csapata folyamatosan azon dolgozik, hogy átalakítsa a trendeket új és innovatív stílusokká, amelyek inspirálják a vásárólkat. Arra törekszik, hogy közvetítse a legújabb trendeket és irányzatokat, lehetővé téve, hogy a nők kényelmesen érezzék magukat alkalomtól függetlenül.
</p>
</div>

<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Stradivarius</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>

<%- include('includes/end') %>