<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/OEVT/Shops/Logos/takkologo.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Takko Fashion Kft. Európa szerte mintegy 1.900 üzlettel, összesen 16 országban van jelen. Vásárlóink aktuális divatot találnak nálunk, megfelelő ár-érték-arányban. Üzleteinkben átlátható kialakítással, kellemes légkörrel várunk Mindenkit. A Takko Fashion üzleteiben az egész Család megtalálhatja kedvenc darabjait!
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>női felsőruházat</li>
  <li>férfi felsőruházat</li>
  <li>női fehérnemű</li>
  <li>kiegészítők</li>
  <li>bizsu ékszerek</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Takko</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>ajándékkártya</li>
  <li>VIP szolgáltatás(oboa xd)</li>
  <li>félretétel</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Készpénz (Euro)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>Ticket Service</li>
  <li>OTP Cafeteria kártya</li>
  <li>Iskolai Erzsébet-utalvány</li>
  <li>Ajándék Erzsébet-utalvány</li>
  <li>Gyermekvédelmi Erzsébet-utalvány</li>
  <li>Erzsébet-utalvány Plusz kártya</li>
  <li>Edenred</li>
  <li>Multi-Pay Cafeteria</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>