<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/tamaris.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Törekvéseink között szerepel, hogy a legújabb divatirányzatok figyelembevételével magas minőségű alapanyagokból készüljenek cipőink. A gazdag színvilágú, legújabb trendeket is ötvöző cipők minden évszakra gazdag választékot kínálnak minden korosztály számára. Szezononként új modellekkel jelenünk meg a piacon, amelyeket plakátokkal, szóróanyagokkal népszerűsítünk. Szeretnénk, ha minél több hölgy ismerné meg kiváló minőségű termékeinket. Térjen be hozzánk! Szeretettel várjuk!
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>alkalmi cipők</li>
  <li>bokacsizmák</li>
  <li>cipőápoló szerek</li>
  <li>csizmák</li>
  <li>kendők</li>
  <li>kényelmi cipők</li>
  <li>papucsok</li>
  <li>pénztárcák</li>
  <li>sálak</li>
  <li>szandálok</li>
  <li>táskák</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Tamaris</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>tanácsadás</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Ticket Service</li>
  <li>Ajándék Erzsébet-utalvány</li>
  <li>Erzsébet-utalvány Plusz kártya</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>
<%- include('includes/end') %>