<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/tefal.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Tefalnál folyamatosan arra törekszünk, hogy mindig újabb és újabb megoldásokkal könnyítsük meg az életét. És a jövőben sem teszünk majd másként. 

Termékeinkkel továbbra is arra szeretnénk ösztönözni Önt és családját, hogy a fontos alkalmakat még különlegesebbé tegyék. 

Egész évben meglepetésekkel várjuk!
</p>
</div>
<%- include('includes/end') %>