<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/telekom2.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Szükséged van netre, telefonra, laptopra esetleg táblagépre? Vagy mindened megvan, csak a mostani csomagod már kevés? Szeretnéd ha otthonodban kényelem venne körül, olyan okos megoldásokon keresztül, mint az okoskamera, vagy a robotporszívó? Vagy egyszerűen csak inspirálódni szeretnél, arra vonatkozóan, hogy milyen digitális megoldásokkal tudnád a saját, a családod vagy a vállalkozásod életét megkönnyíteni? Gyere be hozzánk, mindent megmutatunk, ami ezekben segíthet Neked! Ha pedig az eszközök megvásárlására nem szeretnél egyszerre nagyobb összeget kifizetni, akkor egyedi fizetési konstrukcióval is várunk.
</p>
</div>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>

<%- include('includes/end') %>