<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/tezenis.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A szegedi Tezenis üzlet férfi és női fehérnemű, szabadidőruházat és pizsama választékkal vár!
Lounge zene, tágas tér, minimalista formatervezés, amerikai loftra emékeztető hangulat… Ezek a Tezenis üzletek stílusjegyei! A Tezenis kozmopolita környezetben kínálja basic és folyamatosan megújuló, fiatalos és könnyed kollekcióit; nők és férfiak számára.
Az értékesítési koncepció sem a megszokott: minden egyes termék szem előtt van, így kedvedre válogathatsz.
A Tezenis hihetetlenül jó áron kínál magas minőséget, gondolva azokra a fiatalokra is, akik vásárláskor szem előtt tartják az ár – érték arányt.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>női fehérnemű</li>
  <li>férfi fehérnemű</li>
  <li>gyermek fehérnemű</li>
  <li>felsőruházat</li>
  <li>szabadidőruházat</li>
  <li>pizsama</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Tezenis</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>
<%- include('includes/end') %>