<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/P-T/thaifoldkincsemasszazsszalon.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Jöjjön el és pihenje ki magát nálunk, eredeti thai hangulatban! Szakképzett thai masszőzeink készséggel állnak rendelkezésére, hogy hazájukban tanult, gyógyító, stresszoldó masszázstechnikájukat nálunk is teljes tehetségükkel alkalmazzák.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>1 alkalmas utalvány</li>
  <li>5+1 alkalmas bérlet</li>
  <li>8+2 alkalmas bérlet</li>
  <li>Cellulite (5+1) bérlet</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
<li>thai masszázs</li>
<li>olajmasszázs</li>
<li>aromaterápia</li>
<li>melegolaj masszázs</li>
<li>gyógyító masszázs</li>
<li>talpmasszázs</li>
<li>reflexológia</li>
<li>fejmasszázs</li>
<li>hátmasszázs</li>
<li>cellulite masszázs</li>
<li>spa masszázs</li>
<li>gyógynövénypárás masszázs</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz</li>
  <li>Bankkártya</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>
<%- include('includes/end') %>