<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/P-T/tokstop.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>mobiltelefon tokok</li>
  <li>mobiltelefon fóliák</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>UAG</li>
<li>spigen</li>
<li>GRIFFIN</li>
<li>adidas</li>
<li>NILLKIN</li>
<li>SAMSUNG</li>
<li>HUAWEI</li>
<li>Honor</li>
<li>iPhone</li>
<li>Microsoft</li>
<li>LG</li>
<li>ALCATEL</li>
<li>OZAKI</li>
<li>SONY</li>
<li>MERCURY</li>
<li>XPRO</li>
<li>DEVIA</li>
<li>BLUEO</li>
<li>I-SMILE</li>
<li>Baseus</li>
<li>MOOKE</li>
<li>Remax</li>
<li>TOTU Design</li>
<li>MyScreen</li>
<li>Belkin</li>
<li>CASE MATE</li>
<li>4SMARTS</li>
<li>celly</li>
<li>CG MOBILE</li>
<li>APPLE</li>
<li>PIERRE CARDIN</li>
<li>USAMS</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>fólia felhelyezés</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>