<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/tomtailor.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Üzletünk a Tom Tailor Retail GmbH multinacionális cég leányvállalataként a magyarországi Tom Tailor Retail Kft. hálózatán belül világszinten egyformán megszabott szigorú szabályok szerint működik. Német márkáról van szó, német precizitással készített termékekkel. Méretezésünkre jellemző, hogy más márka méretezéséhez képest (legalább) 1 mérettel nagyobbak vagyunk, tehát aki máshol nem talál méretet, ide bátran jöhet. 13 m2-es kirakattal, összesen 240m2 alapterületen várjuk Önöket. Ebben férfi ruházat 80m2-en, női 102 m2-en található. Magyarországon egyedülállónak számít, a Tom Tailor márka ekkora üzletben való értékesítése, valamint a 2015. szeptemberétől a TOM TAILOR Denim almárka is megtalálható 40m2-en. A Tom Tailor Denim Magyarországon belül rajtunk kívül szintén sehol nem található meg, mellyel azoknak a fiatalabb korosztályú vásárlóinknak kívánunk kedvezni, akik szeretik az egyedit…<br/>
Köszönjük a közel 5000 törzsvásárlónknak az évek óta tartó bizalmat, akik sorozatosan elfogadták öltözködési és stílus-tanácsainkat.
Várjuk Önt is szeretettel!
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>bőráru</li>
  <li>kendő</li>
  <li>kiegészítők</li>
  <li>női ruházat</li>
  <li>férfi ruházat</li>
  <li>papucs</li>
  <li>sapka</li>
  <li>sál</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Tom Tailor</li>
<li>Tom Tailor Denim</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>divat tanácsadás</li>
  <li>öltözködési tanácsadás</li>
  <li>stílustanácsadás</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>