<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/triumph.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Az elmúlt 130 évben a Triumph folyamatosan azon dolgozott, hogy támogassa és magabiztossá tegye a nőket, tökéletes méretű és fazonú melltartókat készítve számukra. 
  <br/><br/>
A világ egyik vezető fehérnemű cégeként küldetésünknek tekintjük, hogy megértsük és önbizalommal töltsük fel a hölgyeket. Minél jobban megismerjük az ígényeiket, annál jobban törekszünk arra, hogy a legjobbat nyújtsuk minden egyes hölgy számára. A nők mindennapjairól és boldogság érzetükről végzett kutatásunk segített abban, hogy olyan kollekciót alkossunk, melynek darabjai garantáltan a nők hű társává tudnak válni a mindennapokban. 
<br/><br/>
Arra törekszünk, hogy a nap minden percére és miden alkalomra tökéletes fehérneműt kínáljunk, mely csodálatos formát és magabiztosságot ad viselőjének. Kollekciónkból mindenki megtalálhatja magának az Igazit minden alkalomra. 
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>férfi alsó</li>
  <li>férfi fürdőnadrág</li>
  <li>harisnya</li>
  <li>köntös</li>
  <li>női alakformáló</li>
  <li>női alsó</li>
  <li>női fürdőruha</li>
  <li>női hálóruha</li>
  <li>női melltartó</li>
  <li>sportmelltartó</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Kunert</li>
<li>Sloggi</li>
<li>Triumph</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>méret tanácsadás</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>Iskolai Erzsébet-utalvány</li>
  <li>Ajándék Erzsébet-utalvány</li>
  <li>Edenred</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>