<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/U-Z/visionexpress.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Vision Express üzletünkben a hét minden napján komplett optikai szolgáltatást nyújtunk a szemvizsgálattól, a megfelelő szemüveg, napszemüveg és/vagy kontaktlencse kiválasztásán keresztül a kész szemüveg akár 1 órán belül történő elkészítéséig. Széles választékunkban mindenki megtalálja az egyéniségéhez és a pénztárcájához illő megoldást a klasszikus-elegánstól a modern stíluson át a legújabb trendig, akár több különböző alkalomra is (munka, sport, szabadidő). Üzletünkben vásárlóink megismerhetik a Solaris napszemüvegek világát. A nemzetközi divattrendek és a vásárlói igények figyelembe vételével kialakított egyedi választékban a legtrendibb nemzetközi divatmárkák legújabb modelljei mellett természetesen megtalálhatók az időtálló, ma már klasszikusnak mondható napszemüveg márkák is. A Solaris kínálat kialakításakor természetesen a pénztárcákra is ügyeltünk, így a kedvezőbb áru modellek egyaránt széles választékban várják vásárlóinkat. Szemüvegkészítés akár 1 óra alatt. Állandóan megújuló akciós ajánlatainkat keresse üzletünkben vagy a honlapon.
</p>
</div>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Carrera</li>
<li>Emporio Armani</li>
<li>Esprit</li>
<li>Gant</li>
<li>Gucci</li>
<li>Max&Co</li>
<li>Jaguar</li>
<li>Oakley</li>
<li>Oxido</li>
<li>Pierre Cardin</li>
<li>Polaroid</li>
<li>Prada</li>
<li>Prestige</li>
<li>Ralph Lauren</li>
<li>Ray Ban</li>
<li>Sophia Loren</li>
<li>Tommy Hilfiger</li>
<li>Versace</li>
<li>Vision Express</li>
<li>Vistalight</li>
<li>Vogue</li>
<li>Bausch&Lomb</li>
<li>Ciba Vision</li>
<li>Iwear</li>
<li>Johnson&Johnson</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>Egészségpénztári kártya</li>
  <li>OTP Cafeteria kártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>Ticket Compliments Top Premium</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>
</ul>
<%- include('includes/end') %>