<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/OEVT/Shops/Logos/vodafone-logo.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Ügyfélszolgálati és Értékesítési Telekommunikációs üzlet.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>mobil telefonok</li>
  <li>tablet</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Cellet</li>
<li>Huawei</li>
<li>Iphone</li>
<li>LG</li>
<li>Microsoft</li>
<li>Samsung</li>
<li>Sony</li>
<li>Vodafone</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>

<%- include('includes/end') %>