<%- include('includes/head') %>
        <img
          src=""
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Egy márka, melynek hagyományai egészen 1840-ig nyúlnak vissza.

A W.KRUK márka története 1840-ben kezdődött, ekkor alapítottuk az első ékszergyárat. Az azóta eltelt időben tökélyre fejlesztettük az ékszerkészítés művészetét, ötvözve a hagyományos kézművességet a modern megoldásokkal. Az egyedi dizájnnak, a különleges kollekcióknak és a több mint 180 éves történelmünknek köszönhetően vásárlók millióinak bizalmát nyertük el. Saját tervezésű W.KRUK kollekcióink megtestesítik mindazon értékeket, amelyekért nap, mint nap dolgozunk. A szerelem, a barátság és a természet jelentik a legfőbb inspirációt ahhoz, hogy gyönyörű ékszereket hozzunk létre, amelyek a legfontosabb, emberi érzelmeket szimbolizálják. Mindazok, akik ajándékba kapják és viselik a W.KRUK ékszereket, különlegesnek és megbecsültnek érzik magukat.

Manufaktúránk egyike azon kevés helyeknek Európában, ahol az ékszerkészítés során kombináljuk a kézműves technikákat, a legújabb, innovatív megoldásokkal.

A W.KRUK a gyémántok szakértője, az örök ragyogást sugárzó drágakövek szakavatott ismerője. Csapatunkban sokéves tapasztalattal rendelkező szakemberek dolgoznak, ami lehetővé teszi, hogy a legjobb minőségű, tökéletes csiszolású gyémántokat kínáljuk, kihozva minden egyes kőből annak maximális szépségét.

1840 óta nők és férfiak álmait váltjuk valóra, akik ékszereink által különlegesnek és kivételesnek érezhetik magukat.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>Saját tervezésű arany- és ezüst ékszerkollekciók</li>
  <li>Eljegyzési gyűrűk</li>
  <li>Egyedi arany és ezüst ékszerek: fülbevalók, nyakláncok, gyűrűk, karkötők, medálok, brossok</li>
  <li>Picky Pica divatékszerek</li>
  <li>Drágakövekkel díszített ékszerek</li>
  <li>Ékszerek elsőáldozásra és keresztelőre</li>
  <li>Ékszerek férfiaknak</li>
</ul>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>W.KRUK ékszerek tisztítása</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (HUF)</li>
  <li>Bankkártya</li>
</ul>
<%- include('includes/end') %>