<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/ASZ/shops/Logos/U-Z/womensecret.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A women’ secret a mai modern nő fehérnemű és hálónemű márkája, nem számít, ki mennyi idős, azoknak szól, akik mindig fiatalosak és vidámak. A women’ secret új, izgalmas, ötletei és praktikus megoldásai könnyedséget és vidámságot csempésznek életünkbe. A women’ secret a Cortefiel Csoport tagjaként 2000-ben nyitotta meg első üzletét Magyarországon. Cégünk azóta is folyamatosan növekszik, terjeszkedik, több mint 1000 üzlettel rendelkezik világszerte.
</p> 
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>fürdőruhák</li>
  <li>férfi fehérnemű</li>
  <li>férfi hálónemű</li>
  <li>kiegészítők</li>
  <li>kismama fehérnemű</li>
  <li>kismama hálónemű</li>
  <li>női fehérnemű</li>
  <li>női hálónemű</li>
  <li>alakformáló fehérneműk</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Women'Secret</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>Ticket Service</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
  <li>Edenred</li>
  <li>Ticket Compliments Top Premium</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>