<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/mustangleewrangler.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Nem számít, hogy régi vagy új, hogy öreg vagy fiatal, a stílus örök! A hagyományokat szem előtt tartva is képesek lehetünk megújulni. Ennek jegyében mind a Mustang, mind a Wrangler márkánál törekszünk arra, hogy mindenki megtalálja a számára megfelelő fazont.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>nadrág</li>
  <li>farmer</li>
  <li>ing</li>
  <li>kabát</li>
  <li>póló</li>
  <li>mellény</li>
  <li>pulóver</li>
  <li>kardigán</li>
  <li>öv</li>
  <li>kiegészítők</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Wrangler</li>
<li>Mustang</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>

<%- include('includes/end') %>