<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/yettel.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Azon dolgozunk, hogy minél többen élvezhessétek a technológia előnyeit, és digitális termékeink segítségével megkönnyítsük mindennapjaitokat!

Ismerd meg üzleteinkben számlás és feltöltőkártyás tarifáinkat, válassz mellé otthoni vagy hordozható internet csomagjaink közül, és próbáld ki TV szolgáltatásunkat is! Szuper tarifáink mellett készülék- és tartozékkedvezményekkel is várunk. Sőt, megbízható hálózatunkkal üzleti sikeredet is támogatjuk, keresd vállalkozásoknak szóló ajánlatainkat!
</p>
</div>
<h2>SZOLGÁLTATÁSOK</h2>
<ul>
  <li>Yettel szolgáltatások</li>
  <li>HBO max szolgáltatások</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Apple</li>
<li>HTC</li>
<li>JBL</li>
<li>Lenovo</li>
<li>Nokia</li>
<li>Oppo</li>
<li>Reno</li>
<li>Samsung</li>
<li>Sony</li>
<li>Huawei</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
</ul>
<%- include('includes/end') %>