<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/yvesrocher.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  Szakértelmünk a Cosmétique Végétale. A természet ismeretét és a tudományos kutatásokat ötvözzük már 1959 óta. A növények életmechanizmusaiból merítünk ihletet, így tudunk egyszerre hatékony és környezetbarát szépségápolási terméket alkotni.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>dekorkozmetikum</li>
  <li>parfüm</li>
  <li>szépségápolás</li>
  <li>testápolás</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Yves Rocher</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>Saját utalvány/ajándékkártya</li>
  <li>Ticket Compliments Top Premium</li>
  <li>ÁRKÁD Szeged vásárlási utalvány</li>

<%- include('includes/end') %>