<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/CENTERS/OEVT/Shops/Logos/zara.jpg"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  A Zara története 1975-ben kezdődött, amikor a spanyol tengerparti városban, La Coruña-ban megalakult az első üzlet. Az évek során a Zara hű maradt alapelveihez, úgy mint a szépség, letisztultság, funkcionalitás és a fenntarthatóság.

A Zara szoros kapcsolatot ápol a vásárlóival és figyelemmel kíséri a változó igényeiket. A folyamatos visszajelzések által reagál a legújabb trendekre. Heti szinten megújuló kollekcióval várja vásárlóit a női, a férfi és a gyerek részlegen.

A Zara prioritása a vonzó és felelősségteljes divat elősegítése. A “Join life” kollekció és az eco-boltok csak két példa, amely hangsúlyozza a márka törekvését a fenntartható divatra és a vásárlói élmények fejlesztésére. A márka nagy hangsúlyt fektet a folyamatosan bővülő innovatív projektekre, mint például a ruha visszagyűjtő program, melynek lényege, hogy bárki elviheti a boltokba a használt ruháit, amiket újrahasznosítunk.
</p>
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Zara</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>Készpénz (Forint)</li>
  <li>Bankkártya</li>
  <li>ÁFA visszaigénylés (TAX FREE) lehetséges</li>
</ul>
<%- include('includes/end') %>