<%- include('includes/head') %>
        <img
          src="https://www.arkadszeged.hu/fileadmin/user_upload/GLOBAL/brand_stores/logos/zenicheparfuemeria.png"
          alt="<%= pageTitle %> logója"
          class="ImgS"
        />
<p>
  
</div>
<h2>TERMÉKEK</h2>
<ul>
  <li>parfüm</li>
</ul>
<h2>FORGALMAZOTT MÁRKÁK</h2>
<ul>
<li>Montale</li>
<li>Mancera</li>
<li>Xerjoff</li>
<li>Nishane</li>
<li>Lorenzo Pazzaglia</li>
<li>Gritti</li>
<li>Mes Bisous</li>
<li>Thameen</li>
<li>Wesker</li>
<li>Pernoire</li>
<li>SoraDora</li>
<li>Borntostandout</li>
<li>Casamorati</li>
<li>Kajal</li>
</ul>
<h2>ELFOGADOTT FIZETŐESZKÖZÖK</h2>
<ul>
  <li>készpénz</li>
  <li>bankkártya</li>
  <li>ÁRKÁD utalvány</li>

<%- include('includes/end') %>